brain-audio.json
[{"id":"e8d65b2b.201058","type":"subflow","name":"Subflow 1","in":[{"x":62,"y":54,"wires":[{"id":"b3d2ad66.618708"}]}],"out":[]},{"id":"e75d45d3.2600d8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":680,"y":135,"z":"e8d65b2b.201058","wires":[]},{"id":"2140470b.9fc3a8","type":"http request","name":"","method":"POST","ret":"txt","url":"https://museuminabox.herokuapp.com/boops","x":427,"y":55,"z":"e8d65b2b.201058","wires":[["e75d45d3.2600d8"]]},{"id":"b3d2ad66.618708","type":"function","name":"Build JSON for request","func":"var old_payload = msg.payload;\nmsg.payload = { \"created_at\": new Date().toJSON(), \"box_id\": \"2\", \"print_id\": old_payload.id };\nheaders = { \"Content-Type\": \"application/json\" };\nreturn msg;","outputs":1,"noerr":0,"x":207,"y":54,"z":"e8d65b2b.201058","wires":[["2140470b.9fc3a8","e75d45d3.2600d8","63ecce13.be265"]]},{"id":"63ecce13.be265","type":"csv","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"created_at,box_id,print_id","x":405,"y":192,"z":"e8d65b2b.201058","wires":[["64ebaf01.219d"]]},{"id":"64ebaf01.219d","type":"file","name":"","filename":"/home/pi/miab/boops_log.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","x":609,"y":192,"z":"e8d65b2b.201058","wires":[]},{"id":"3b6d686d.3eb03","type":"exec","command":"killall aplay","addpay":false,"append":"","useSpawn":"","name":"","x":459,"y":465,"z":"fb1b1b8.29053e8","wires":[["f536fa11.eebb68"],["f536fa11.eebb68"],["f536fa11.eebb68"]]},{"id":"8ffc8023.5f54a","type":"rpi-rfid in","name":"","x":63,"y":69,"z":"fb1b1b8.29053e8","wires":[["b170be0.3c60e4"]]},{"id":"f536fa11.eebb68","type":"debug","name":"","active":true,"console":"false","complete":"false","x":755,"y":406,"z":"fb1b1b8.29053e8","wires":[]},{"id":"968fbea5.24fc98","type":"rpi-rfid read-ndef","name":"","x":455,"y":63,"z":"fb1b1b8.29053e8","wires":[["ee759b47.073278","f536fa11.eebb68"]]},{"id":"b170be0.3c60e4","type":"switch","name":"presented or removed?","property":"topic","rules":[{"t":"eq","v":"pi/rfid-presented"},{"t":"eq","v":"pi/rfid-removed"}],"checkall":"true","outputs":2,"x":242,"y":69,"z":"fb1b1b8.29053e8","wires":[["968fbea5.24fc98"],["3b6d686d.3eb03"]]},{"id":"ee759b47.073278","type":"switch","name":"Ignore non-text NDEF records","property":"payload.type","rules":[{"t":"eq","v":"T"}],"checkall":"true","outputs":1,"x":549,"y":128,"z":"fb1b1b8.29053e8","wires":[["f536fa11.eebb68","9a0a0da8.23e0b"]]},{"id":"dcf63ff6.45e4c8","type":"json","name":"Convert to JSON","x":519,"y":240,"z":"fb1b1b8.29053e8","wires":[["f536fa11.eebb68","405bc5e5.bb1004","b3b74b81.42e778"]]},{"id":"9a0a0da8.23e0b","type":"function","name":"Extract the JSON content","func":"msg.payload = msg.payload.value;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":184,"z":"fb1b1b8.29053e8","wires":[["f536fa11.eebb68","dcf63ff6.45e4c8"]]},{"id":"405bc5e5.bb1004","type":"template","name":"Map to audio filename","field":"payload","format":"handlebars","template":"/home/pi/miab/audio/{{payload.audio}}","x":517,"y":294,"z":"fb1b1b8.29053e8","wires":[["f536fa11.eebb68","9d278522.8c1a5"]]},{"id":"9d278522.8c1a5","type":"exec","command":"aplay","addpay":true,"append":"","useSpawn":"","name":"Play audio","x":525,"y":381,"z":"fb1b1b8.29053e8","wires":[["f536fa11.eebb68"],["f536fa11.eebb68"],["f536fa11.eebb68"]]},{"id":"27116f0f.229618","type":"inject","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96,"y":666,"z":"fb1b1b8.29053e8","wires":[["e6cb89b1.ee9a7"]]},{"id":"e6cb89b1.ee9a7","type":"function","name":"Generate test NDEF records","func":"msg.payload = [];\nmsg.payload.push({\"type\":\"Sp\", \"value\":\"http://mcqn.com/ibal151/\"});\nmsg.payload.push({\"type\":\"T\", \"value\":\"{\\\"name\\\":\\\"Bust of Violette Szabo\\\",\\\"audio\\\":\\\"violette.wav\\\",\\\"video\\\":\\\"violette.mp4\\\"}\"});\n\nreturn msg;","outputs":1,"noerr":0,"x":289,"y":666,"z":"fb1b1b8.29053e8","wires":[["63f7459a.ea45bc","157b0a05.f2c706"]]},{"id":"157b0a05.f2c706","type":"rpi-rfid write-ndef","name":"","x":539,"y":688,"z":"fb1b1b8.29053e8","wires":[["63f7459a.ea45bc","895b2aba.67679"]]},{"id":"63f7459a.ea45bc","type":"debug","name":"","active":true,"console":"false","complete":"false","x":736,"y":666,"z":"fb1b1b8.29053e8","wires":[]},{"id":"918816bc.eb8698","type":"http in","name":"","url":"/tag","method":"get","swaggerDoc":"","x":62,"y":759,"z":"fb1b1b8.29053e8","wires":[["895b2aba.67679"]]},{"id":"895b2aba.67679","type":"file in","name":"","filename":"/home/pi/miab/tag.html","format":"utf8","x":597,"y":759,"z":"fb1b1b8.29053e8","wires":[["7204272c.4db64"]]},{"id":"7204272c.4db64","type":"http response","name":"","x":771,"y":759,"z":"fb1b1b8.29053e8","wires":[]},{"id":"8e9c2326.44b49","type":"http in","name":"","url":"/tag","method":"post","swaggerDoc":"","x":63,"y":715,"z":"fb1b1b8.29053e8","wires":[["bd7b82f0.72dcb"]]},{"id":"bd7b82f0.72dcb","type":"function","name":"Convert form fields into NDEF records","func":"var url = { \"type\":\"Sp\", \"value\": msg.payload.url };\nmsg.payload.url = undefined;\nmsg.payload.write = undefined;\nvar text = { \"type\":\"T\", \"value\": JSON.stringify(msg.payload) };\nmsg.payload = [url, text];\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":715,"z":"fb1b1b8.29053e8","wires":[["157b0a05.f2c706"]]},{"id":"cff40aba.6fbb","type":"comment","name":"Write RFID tags","info":"","x":83,"y":618,"z":"fb1b1b8.29053e8","wires":[]},{"id":"d2edde8.81a162","type":"comment","name":"Main Brain operation","info":"","x":104,"y":29,"z":"fb1b1b8.29053e8","wires":[]},{"id":"b3b74b81.42e778","type":"subflow:e8d65b2b.201058","name":"Record Boop","x":817.5,"y":234.5,"z":"fb1b1b8.29053e8","wires":[]}]