brain-video.json
[{"id":"2c8209d.a92baf6","type":"rpi-rfid in","name":"","x":67,"y":67,"z":"8c018666.713f4","wires":[["642f83e4.c4b0cc"]]},{"id":"1ef8564e.79c0a2","type":"debug","name":"","active":true,"console":"false","complete":"false","x":759,"y":404,"z":"8c018666.713f4","wires":[]},{"id":"df7d2161.086c7","type":"rpi-rfid read-ndef","name":"","x":459,"y":61,"z":"8c018666.713f4","wires":[["2c6ce81d.37d8f8","1ef8564e.79c0a2"]]},{"id":"642f83e4.c4b0cc","type":"switch","name":"presented or removed?","property":"topic","rules":[{"t":"eq","v":"pi/rfid-presented"},{"t":"eq","v":"pi/rfid-removed"}],"checkall":"true","outputs":2,"x":246,"y":67,"z":"8c018666.713f4","wires":[["df7d2161.086c7"],["9a544e2c.45e8a8"]]},{"id":"9a544e2c.45e8a8","type":"exec","command":"killall omxplayer.bin","addpay":false,"append":"","useSpawn":"","name":"","x":463,"y":463,"z":"8c018666.713f4","wires":[["1ef8564e.79c0a2"],["1ef8564e.79c0a2"],["1ef8564e.79c0a2"]]},{"id":"2c6ce81d.37d8f8","type":"switch","name":"Ignore non-text NDEF records","property":"payload.type","rules":[{"t":"eq","v":"T"}],"checkall":"true","outputs":1,"x":553,"y":126,"z":"8c018666.713f4","wires":[["1ef8564e.79c0a2","26cedfc2.910988","786bbe2c.a6d198"]]},{"id":"2028ecc9.5c37ac","type":"json","name":"Convert to JSON","x":523,"y":238,"z":"8c018666.713f4","wires":[["1ef8564e.79c0a2","4b26d1a3.8774f8"]]},{"id":"26cedfc2.910988","type":"function","name":"Extract the JSON content","func":"msg.payload = msg.payload.value;\nreturn msg;","outputs":1,"noerr":0,"x":544,"y":182,"z":"8c018666.713f4","wires":[["1ef8564e.79c0a2","2028ecc9.5c37ac"]]},{"id":"4b26d1a3.8774f8","type":"template","name":"Map to audio filename","field":"payload","format":"handlebars","template":"/home/pi/miab/video/{{payload.video}}","x":521,"y":292,"z":"8c018666.713f4","wires":[["1ef8564e.79c0a2","14b96918.382d07"]]},{"id":"14b96918.382d07","type":"exec","command":"omxplayer","addpay":true,"append":"","useSpawn":"","name":"Play video","x":529,"y":379,"z":"8c018666.713f4","wires":[["1ef8564e.79c0a2"],["1ef8564e.79c0a2"],["1ef8564e.79c0a2"]]},{"id":"786bbe2c.a6d198","type":"exec","command":"aplay boop.wav","addpay":false,"append":"","useSpawn":"","name":"","x":786,"y":223,"z":"8c018666.713f4","wires":[[],[],[]]},{"id":"d95576d0.28ec1","type":"inject","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":664,"z":"8c018666.713f4","wires":[["a8d0c6ab.d69f7"]]},{"id":"a8d0c6ab.d69f7","type":"function","name":"Generate test NDEF records","func":"msg.payload = [];\nmsg.payload.push({\"type\":\"Sp\", \"value\":\"http://mcqn.com/ibal151/\"});\nmsg.payload.push({\"type\":\"T\", \"value\":\"{\\\"name\\\":\\\"Bust of Violette Szabo\\\",\\\"audio\\\":\\\"violette.wav\\\",\\\"video\\\":\\\"violette.mp4\\\"}\"});\n\nreturn msg;","outputs":1,"noerr":0,"x":293,"y":664,"z":"8c018666.713f4","wires":[["4c2abf74.0ea198","c7a2141.a58a668"]]},{"id":"c7a2141.a58a668","type":"rpi-rfid write-ndef","name":"","x":543,"y":686,"z":"8c018666.713f4","wires":[["4c2abf74.0ea198","a2384975.b6d05"]]},{"id":"4c2abf74.0ea198","type":"debug","name":"","active":true,"console":"false","complete":"false","x":740,"y":664,"z":"8c018666.713f4","wires":[]},{"id":"93ac923c.a349f","type":"http in","name":"","url":"/tag","method":"get","swaggerDoc":"","x":66,"y":757,"z":"8c018666.713f4","wires":[["a2384975.b6d05"]]},{"id":"a2384975.b6d05","type":"file in","name":"","filename":"/home/pi/miab/tag.html","format":"utf8","x":601,"y":757,"z":"8c018666.713f4","wires":[["b7e748c1.2335a"]]},{"id":"b7e748c1.2335a","type":"http response","name":"","x":775,"y":757,"z":"8c018666.713f4","wires":[]},{"id":"4f12d934.f4b0b8","type":"http in","name":"","url":"/tag","method":"post","swaggerDoc":"","x":67,"y":713,"z":"8c018666.713f4","wires":[["167c3c.2bbedbc5"]]},{"id":"167c3c.2bbedbc5","type":"function","name":"Convert form fields into NDEF records","func":"var url = { \"type\":\"Sp\", \"value\": msg.payload.url };\nmsg.payload.url = undefined;\nmsg.payload.write = undefined;\nvar text = { \"type\":\"T\", \"value\": JSON.stringify(msg.payload) };\nmsg.payload = [url, text];\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":713,"z":"8c018666.713f4","wires":[["c7a2141.a58a668"]]},{"id":"ab5aa0c8.c65ed8","type":"comment","name":"Write RFID tags","info":"","x":87,"y":616,"z":"8c018666.713f4","wires":[]},{"id":"284e3bd2.04532c","type":"comment","name":"Main Brain operation","info":"","x":108,"y":27,"z":"8c018666.713f4","wires":[]}]