brain-video.json
[{"id":"8059df5e.979b48","type":"subflow","name":"Subflow 1","in":[{"x":62,"y":54,"wires":[{"id":"7babaf3e.93ca68"}]}],"out":[]},{"id":"2f757494.8ef7d4","type":"debug","name":"","active":true,"console":"false","complete":"false","x":680,"y":135,"z":"8059df5e.979b48","wires":[]},{"id":"17e7a1ae.bf3eae","type":"http request","name":"","method":"POST","ret":"txt","url":"https://museuminabox.herokuapp.com/boops","x":427,"y":55,"z":"8059df5e.979b48","wires":[["2f757494.8ef7d4"]]},{"id":"7babaf3e.93ca68","type":"function","name":"Build JSON for request","func":"var old_payload = msg.payload;\nmsg.payload = { \"created_at\": new Date().toJSON(), \"box_id\": \"1\", \"print_id\": old_payload.id };\nheaders = { \"Content-Type\": \"application/json\" };\nreturn msg;","outputs":1,"noerr":0,"x":207,"y":54,"z":"8059df5e.979b48","wires":[["17e7a1ae.bf3eae","2f757494.8ef7d4","27e70c7a.fa5bac"]]},{"id":"27e70c7a.fa5bac","type":"csv","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"created_at,box_id,print_id","x":405,"y":192,"z":"8059df5e.979b48","wires":[["86219f74.db68b"]]},{"id":"86219f74.db68b","type":"file","name":"","filename":"/home/pi/miab/boops_log.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","x":609,"y":192,"z":"8059df5e.979b48","wires":[]},{"id":"e34c8241.bb203","type":"rpi-rfid in","name":"","x":61.5,"y":71,"z":"8df278c.b01fc08","wires":[["1d07e012.eef4d"]]},{"id":"b6698644.d1ba48","type":"debug","name":"","active":true,"console":"false","complete":"false","x":753.5,"y":408,"z":"8df278c.b01fc08","wires":[]},{"id":"6df20c04.999aa4","type":"rpi-rfid read-ndef","name":"","x":453.5,"y":65,"z":"8df278c.b01fc08","wires":[["4f751961.a9fb08","b6698644.d1ba48"]]},{"id":"1d07e012.eef4d","type":"switch","name":"presented or removed?","property":"topic","rules":[{"t":"eq","v":"pi/rfid-presented"},{"t":"eq","v":"pi/rfid-removed"}],"checkall":"true","outputs":2,"x":240.5,"y":71,"z":"8df278c.b01fc08","wires":[["6df20c04.999aa4"],["46aa26b1.a9ef7"]]},{"id":"46aa26b1.a9ef7","type":"exec","command":"killall omxplayer.bin","addpay":false,"append":"","useSpawn":"","name":"","x":457.5,"y":467,"z":"8df278c.b01fc08","wires":[["b6698644.d1ba48"],["b6698644.d1ba48"],["b6698644.d1ba48"]]},{"id":"4f751961.a9fb08","type":"switch","name":"Ignore non-text NDEF records","property":"payload.type","rules":[{"t":"eq","v":"T"}],"checkall":"true","outputs":1,"x":547.5,"y":130,"z":"8df278c.b01fc08","wires":[["b6698644.d1ba48","2f982de8.688fba","363f30bf.fa4368"]]},{"id":"52ed3208.96176c","type":"json","name":"Convert to JSON","x":517.5,"y":242,"z":"8df278c.b01fc08","wires":[["b6698644.d1ba48","6f5403b0.b120ac","c39ad631.b50cb8"]]},{"id":"2f982de8.688fba","type":"function","name":"Extract the JSON content","func":"msg.payload = msg.payload.value;\nreturn msg;","outputs":1,"noerr":0,"x":538.5,"y":186,"z":"8df278c.b01fc08","wires":[["b6698644.d1ba48","52ed3208.96176c"]]},{"id":"6f5403b0.b120ac","type":"template","name":"Map to video filename","field":"payload","format":"handlebars","template":"/home/pi/miab/video/{{payload.video}}","x":515.5,"y":296,"z":"8df278c.b01fc08","wires":[["b6698644.d1ba48","87108ded.f4cb28"]]},{"id":"87108ded.f4cb28","type":"exec","command":"omxplayer","addpay":true,"append":"","useSpawn":"","name":"Play video","x":523.5,"y":383,"z":"8df278c.b01fc08","wires":[["b6698644.d1ba48"],["b6698644.d1ba48"],["b6698644.d1ba48"]]},{"id":"363f30bf.fa4368","type":"exec","command":"aplay miab/boop.wav","addpay":false,"append":"","useSpawn":"","name":"","x":823.5,"y":178,"z":"8df278c.b01fc08","wires":[[],[],[]]},{"id":"a045f1df.de4278","type":"inject","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":94.5,"y":668,"z":"8df278c.b01fc08","wires":[["b71d2bde.1099b"]]},{"id":"b71d2bde.1099b","type":"function","name":"Generate test NDEF records","func":"msg.payload = [];\nmsg.payload.push({\"type\":\"Sp\", \"value\":\"http://mcqn.com/ibal151/\"});\nmsg.payload.push({\"type\":\"T\", \"value\":\"{\\\"name\\\":\\\"Bust of Violette Szabo\\\",\\\"audio\\\":\\\"violette.wav\\\",\\\"video\\\":\\\"violette.mp4\\\"}\"});\n\nreturn msg;","outputs":1,"noerr":0,"x":287.5,"y":668,"z":"8df278c.b01fc08","wires":[["fb421ae9.4b4bb","9cd2ea30.0ebe8"]]},{"id":"9cd2ea30.0ebe8","type":"rpi-rfid write-ndef","name":"","x":537.5,"y":690,"z":"8df278c.b01fc08","wires":[["fb421ae9.4b4bb","570e81f8.2f884"]]},{"id":"fb421ae9.4b4bb","type":"debug","name":"","active":true,"console":"false","complete":"false","x":734.5,"y":668,"z":"8df278c.b01fc08","wires":[]},{"id":"25d1b007.88c6e8","type":"http in","name":"","url":"/tag","method":"get","swaggerDoc":"","x":60.5,"y":761,"z":"8df278c.b01fc08","wires":[["570e81f8.2f884"]]},{"id":"570e81f8.2f884","type":"file in","name":"","filename":"/home/pi/miab/tag.html","format":"utf8","x":595.5,"y":761,"z":"8df278c.b01fc08","wires":[["d506fa9b.c3a36"]]},{"id":"d506fa9b.c3a36","type":"http response","name":"","x":769.5,"y":761,"z":"8df278c.b01fc08","wires":[]},{"id":"d25032a1.7dc388","type":"http in","name":"","url":"/tag","method":"post","swaggerDoc":"","x":61.5,"y":717,"z":"8df278c.b01fc08","wires":[["c35edb78.77cb3"]]},{"id":"c35edb78.77cb3","type":"function","name":"Convert form fields into NDEF records","func":"var url = { \"type\":\"Sp\", \"value\": msg.payload.url };\nmsg.payload.url = undefined;\nmsg.payload.write = undefined;\nvar text = { \"type\":\"T\", \"value\": JSON.stringify(msg.payload) };\nmsg.payload = [url, text];\nreturn msg;","outputs":1,"noerr":0,"x":288.5,"y":717,"z":"8df278c.b01fc08","wires":[["9cd2ea30.0ebe8"]]},{"id":"2b9b18fe.98336","type":"comment","name":"Write RFID tags","info":"","x":81.5,"y":620,"z":"8df278c.b01fc08","wires":[]},{"id":"2debe79a.93d0c8","type":"comment","name":"Main Brain operation","info":"","x":102.5,"y":31,"z":"8df278c.b01fc08","wires":[]},{"id":"c39ad631.b50cb8","type":"subflow:8059df5e.979b48","name":"Record Boop","x":795,"y":282.5,"z":"8df278c.b01fc08","wires":[]}]