brain-audio.json
[{"id":"8768608d.b296f","type":"exec","command":"killall aplay","addpay":false,"append":"","useSpawn":"","name":"","x":457.5,"y":464,"z":"7bb722c1.472aa4","wires":[["3e79eaab.118ae6"],["3e79eaab.118ae6"],["3e79eaab.118ae6"]]},{"id":"d93e250c.d82ad","type":"rpi-rfid in","name":"","x":61.5,"y":68,"z":"7bb722c1.472aa4","wires":[["341d3b12.f89514"]]},{"id":"3e79eaab.118ae6","type":"debug","name":"","active":true,"console":"false","complete":"false","x":753.5,"y":405,"z":"7bb722c1.472aa4","wires":[]},{"id":"c9b96986.ff289","type":"rpi-rfid read-ndef","name":"","x":453.5,"y":62,"z":"7bb722c1.472aa4","wires":[["2881ae0b.287332","3e79eaab.118ae6"]]},{"id":"341d3b12.f89514","type":"switch","name":"presented or removed?","property":"topic","rules":[{"t":"eq","v":"pi/rfid-presented"},{"t":"eq","v":"pi/rfid-removed"}],"checkall":"true","outputs":2,"x":240.5,"y":68,"z":"7bb722c1.472aa4","wires":[["c9b96986.ff289"],["8768608d.b296f"]]},{"id":"2881ae0b.287332","type":"switch","name":"Ignore non-text NDEF records","property":"payload.type","rules":[{"t":"eq","v":"T"}],"checkall":"true","outputs":1,"x":547.5,"y":127,"z":"7bb722c1.472aa4","wires":[["3e79eaab.118ae6","ad5a4635.29c5"]]},{"id":"281d4e5d.281182","type":"json","name":"Convert to JSON","x":517.5,"y":239,"z":"7bb722c1.472aa4","wires":[["3e79eaab.118ae6","6a76ce7.9ef543"]]},{"id":"ad5a4635.29c5","type":"function","name":"Extract the JSON content","func":"msg.payload = msg.payload.value;\nreturn msg;","outputs":1,"noerr":0,"x":538.5,"y":183,"z":"7bb722c1.472aa4","wires":[["3e79eaab.118ae6","281d4e5d.281182"]]},{"id":"6a76ce7.9ef543","type":"template","name":"Map to audio filename","field":"payload","format":"handlebars","template":"/home/pi/miab/audio/{{payload.audio}}","x":515.5,"y":293,"z":"7bb722c1.472aa4","wires":[["3e79eaab.118ae6","4111c730.720ca"]]},{"id":"4111c730.720ca","type":"exec","command":"aplay","addpay":true,"append":"","useSpawn":"","name":"Play audio","x":523.5,"y":380,"z":"7bb722c1.472aa4","wires":[["3e79eaab.118ae6"],["3e79eaab.118ae6"],["3e79eaab.118ae6"]]},{"id":"928e92e8.fb30a","type":"inject","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":94.5,"y":665,"z":"7bb722c1.472aa4","wires":[["e3fe7815.00b5e8"]]},{"id":"e3fe7815.00b5e8","type":"function","name":"Generate test NDEF records","func":"msg.payload = [];\nmsg.payload.push({\"type\":\"Sp\", \"value\":\"http://mcqn.com/ibal151/\"});\nmsg.payload.push({\"type\":\"T\", \"value\":\"{\\\"name\\\":\\\"Bust of Violette Szabo\\\",\\\"audio\\\":\\\"violette.wav\\\",\\\"video\\\":\\\"violette.mp4\\\"}\"});\n\nreturn msg;","outputs":1,"noerr":0,"x":287.5,"y":665,"z":"7bb722c1.472aa4","wires":[["69442ad6.faf4b4","bdd10e8a.7f8438"]]},{"id":"bdd10e8a.7f8438","type":"rpi-rfid write-ndef","name":"","x":537.5,"y":687,"z":"7bb722c1.472aa4","wires":[["69442ad6.faf4b4","ebd40ef1.abf548"]]},{"id":"69442ad6.faf4b4","type":"debug","name":"","active":true,"console":"false","complete":"false","x":734.5,"y":665,"z":"7bb722c1.472aa4","wires":[]},{"id":"52a4d399.0c5aac","type":"http in","name":"","url":"/tag","method":"get","swaggerDoc":"","x":60.5,"y":758,"z":"7bb722c1.472aa4","wires":[["ebd40ef1.abf548"]]},{"id":"ebd40ef1.abf548","type":"file in","name":"","filename":"/home/pi/miab/tag.html","format":"utf8","x":595.5,"y":758,"z":"7bb722c1.472aa4","wires":[["9b5d3145.cf3a"]]},{"id":"9b5d3145.cf3a","type":"http response","name":"","x":769.5,"y":758,"z":"7bb722c1.472aa4","wires":[]},{"id":"c9b4129b.3402f8","type":"http in","name":"","url":"/tag","method":"post","swaggerDoc":"","x":61.5,"y":714,"z":"7bb722c1.472aa4","wires":[["e219c2fc.2d0d88"]]},{"id":"e219c2fc.2d0d88","type":"function","name":"Convert form fields into NDEF records","func":"var url = { \"type\":\"Sp\", \"value\": msg.payload.url };\nmsg.payload.url = undefined;\nmsg.payload.write = undefined;\nvar text = { \"type\":\"T\", \"value\": JSON.stringify(msg.payload) };\nmsg.payload = [url, text];\nreturn msg;","outputs":1,"noerr":0,"x":288.5,"y":714,"z":"7bb722c1.472aa4","wires":[["bdd10e8a.7f8438"]]},{"id":"214195e7.348082","type":"comment","name":"Write RFID tags","info":"","x":81.5,"y":617,"z":"7bb722c1.472aa4","wires":[]},{"id":"57981c03.2f0024","type":"comment","name":"Main Brain operation","info":"","x":102.5,"y":28,"z":"7bb722c1.472aa4","wires":[]}]