flows_brain.json
[{"type":"tab","id":"b5898652.b556e","label":"Sheet 1"},{"id":"e8d65b2b.201058","type":"subflow","name":"Subflow 1","in":[{"x":62,"y":54,"wires":[{"id":"b3d2ad66.618708"}]}],"out":[]},{"id":"55fd9d30.dec324","type":"subflow","name":"Play audio content","in":[{"x":70,"y":70,"wires":[{"id":"dee7273e.9b682"}]}],"out":[{"x":625,"y":66,"wires":[{"id":"d4df4b9b.eb9988","port":0},{"id":"d4df4b9b.eb9988","port":1},{"id":"d4df4b9b.eb9988","port":2}]}]},{"id":"5c28a716.bf8fd","type":"subflow","name":"Play video content","in":[{"x":70,"y":70,"wires":[{"id":"43c08c0.8d92d74"}]}],"out":[{"x":599,"y":69,"wires":[{"id":"992e8053.3f034","port":0},{"id":"992e8053.3f034","port":1},{"id":"992e8053.3f034","port":2}]}]},{"id":"afe19cbf.f80a18","type":"subflow","name":"Box setup web UI","in":[],"out":[]},{"id":"2c85e1fd.fde9ae","type":"subflow","name":"Load settings","in":[{"x":76,"y":71,"wires":[{"id":"72069fd0.ea825"}]}],"out":[{"x":750.5,"y":71,"wires":[{"id":"8165cef1.12886","port":0}]}]},{"id":"cf784ed9.0d2bd8","type":"subflow","name":"Update Prints' Media","in":[{"x":58,"y":63,"wires":[{"id":"742a446e.0f7c64"}]}],"out":[{"x":567,"y":62,"wires":[{"id":"7780af62.9d3db8","port":0}]}]},{"id":"e75d45d3.2600d8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":680,"y":135,"z":"e8d65b2b.201058","wires":[]},{"id":"2140470b.9fc3a8","type":"http request","name":"","method":"POST","ret":"txt","url":"https://museuminabox.herokuapp.com/boops","x":427,"y":55,"z":"e8d65b2b.201058","wires":[["e75d45d3.2600d8"]]},{"id":"b3d2ad66.618708","type":"function","name":"Build JSON for request","func":"var old_payload = msg.payload;\nmsg.payload = { \"created_at\": new Date().toJSON(), \"box_id\": \"2\", \"print_id\": old_payload.id };\nheaders = { \"Content-Type\": \"application/json\" };\nreturn msg;","outputs":1,"noerr":0,"x":207,"y":54,"z":"e8d65b2b.201058","wires":[["2140470b.9fc3a8","e75d45d3.2600d8","63ecce13.be265"]]},{"id":"63ecce13.be265","type":"csv","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"created_at,box_id,print_id","x":405,"y":192,"z":"e8d65b2b.201058","wires":[["64ebaf01.219d"]]},{"id":"64ebaf01.219d","type":"file","name":"","filename":"/home/pi/miab/boops_log.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","x":609,"y":192,"z":"e8d65b2b.201058","wires":[]},{"id":"3b6d686d.3eb03","type":"exec","command":"killall aplay","addpay":false,"append":"","useSpawn":"","name":"","x":467,"y":500,"z":"b5898652.b556e","wires":[["f536fa11.eebb68"],["f536fa11.eebb68"],["f536fa11.eebb68"]]},{"id":"8ffc8023.5f54a","type":"rpi-rfid in","name":"","x":63,"y":69,"z":"b5898652.b556e","wires":[["b170be0.3c60e4"]]},{"id":"f536fa11.eebb68","type":"debug","name":"","active":true,"console":"false","complete":"false","x":799,"y":434,"z":"b5898652.b556e","wires":[]},{"id":"968fbea5.24fc98","type":"rpi-rfid read-ndef","name":"","x":455,"y":63,"z":"b5898652.b556e","wires":[["ee759b47.073278","f536fa11.eebb68"]]},{"id":"b170be0.3c60e4","type":"switch","name":"presented or removed?","property":"topic","rules":[{"t":"eq","v":"pi/rfid-presented"},{"t":"eq","v":"pi/rfid-removed"}],"checkall":"true","outputs":2,"x":242,"y":69,"z":"b5898652.b556e","wires":[["968fbea5.24fc98"],["3b6d686d.3eb03","d83df818.cb6798"]]},{"id":"ee759b47.073278","type":"switch","name":"Ignore non-text NDEF records","property":"payload.type","rules":[{"t":"eq","v":"T"}],"checkall":"true","outputs":1,"x":549,"y":128,"z":"b5898652.b556e","wires":[["f536fa11.eebb68","9a0a0da8.23e0b"]]},{"id":"dcf63ff6.45e4c8","type":"json","name":"Convert to JSON","x":519,"y":240,"z":"b5898652.b556e","wires":[["f536fa11.eebb68","b3b74b81.42e778","86e53e15.85eb1","f5a13dba.fd8078"]]},{"id":"9a0a0da8.23e0b","type":"function","name":"Extract the JSON content","func":"msg.payload = msg.payload.value;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":184,"z":"b5898652.b556e","wires":[["f536fa11.eebb68","dcf63ff6.45e4c8"]]},{"id":"d2edde8.81a162","type":"comment","name":"Main Brain operation","info":"","x":104,"y":29,"z":"b5898652.b556e","wires":[]},{"id":"b3b74b81.42e778","type":"subflow:e8d65b2b.201058","name":"Record Boop","x":805.5,"y":213.5,"z":"b5898652.b556e","wires":[]},{"id":"86e53e15.85eb1","type":"function","name":"Are we an audio or video box?","func":"if (context.global.box_settings.brain_type == \"audio\")\n{\n    return [msg, null];\n}\nelse\n{\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":450,"y":298,"z":"b5898652.b556e","wires":[["192c08af.101cb7"],["ff31c654.b55628"]]},{"id":"dee7273e.9b682","type":"template","name":"Map to audio filename","field":"payload","format":"handlebars","template":"/home/pi/miab/audio/{{payload.audio}}","x":242,"y":68,"z":"55fd9d30.dec324","wires":[["d4df4b9b.eb9988"]]},{"id":"d4df4b9b.eb9988","type":"exec","command":"aplay","addpay":true,"append":"","useSpawn":"","name":"Play audio","x":450,"y":67,"z":"55fd9d30.dec324","wires":[[],[],[]]},{"id":"192c08af.101cb7","type":"subflow:55fd9d30.dec324","x":700,"y":297,"z":"b5898652.b556e","wires":[["f536fa11.eebb68"]]},{"id":"992e8053.3f034","type":"exec","command":"omxplayer","addpay":true,"append":"","useSpawn":"","name":"Play video","x":440,"y":68,"z":"5c28a716.bf8fd","wires":[[],[],[]]},{"id":"43c08c0.8d92d74","type":"template","name":"Map to video filename","field":"payload","format":"handlebars","template":"/home/pi/miab/video/{{payload.video}}","x":232,"y":69,"z":"5c28a716.bf8fd","wires":[["992e8053.3f034"]]},{"id":"ff31c654.b55628","type":"subflow:5c28a716.bf8fd","x":651,"y":357,"z":"b5898652.b556e","wires":[["f536fa11.eebb68"]]},{"id":"d83df818.cb6798","type":"exec","command":"killall omxplayer.bin","addpay":false,"append":"","useSpawn":"","name":"","x":483,"y":440,"z":"b5898652.b556e","wires":[["f536fa11.eebb68"],["f536fa11.eebb68"],["f536fa11.eebb68"]]},{"id":"72069fd0.ea825","type":"file in","name":"Read in our settings","filename":"/home/pi/miab/box-config.json","format":"utf8","x":230,"y":70,"z":"2c85e1fd.fde9ae","wires":[["5dc010f1.5ecf08"]]},{"id":"14b3f31c.f2289d","type":"inject","name":"Run at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":132,"y":567,"z":"b5898652.b556e","wires":[["a9a1a5d6.e1f4a8"]]},{"id":"8165cef1.12886","type":"function","name":"Apply settings","func":"context.global.box_settings = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":606,"y":69,"z":"2c85e1fd.fde9ae","wires":[["147f1020.897328","7f261c8f.f40ecc"]]},{"id":"7866ff92.1495d8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":505,"y":568,"z":"b5898652.b556e","wires":[]},{"id":"fb9cae82.28853","type":"http in","name":"Initial setup page","url":"/setup","method":"get","swaggerDoc":"","x":94,"y":61,"z":"afe19cbf.f80a18","wires":[["2cd9b4c9.2eaed4"]]},{"id":"d27d7e46.05eca","type":"http response","name":"","x":852,"y":131,"z":"afe19cbf.f80a18","wires":[]},{"id":"2cd9b4c9.2eaed4","type":"http request","name":"Get the list of available boxes","method":"GET","ret":"obj","url":"http://www.museuminabox.org/boxes.json","x":321,"y":61,"z":"afe19cbf.f80a18","wires":[["16dd1e16.1b381a"]]},{"id":"16dd1e16.1b381a","type":"template","name":"Format HTML page","field":"payload","format":"handlebars","template":"<html>\n    <head>\n        <title>Configure this brain</title>\n    </head>\n    <body>\n        <h1>Configure this brain</h1>\n        <p></p>\n        <form method=\"POST\">\n            <label for=\"box_id\">Choose box:</label>\n            <select name=\"box_id\">\n            {{#payload}}\n                <option name=\"{{name}}\" value=\"{{id}}\">{{name}}</option>\n            {{/payload}}\n            </select>\n            <input type=\"submit\" value=\"Save\">\n        </form>\n    </body>\n</html>","x":561,"y":60,"z":"afe19cbf.f80a18","wires":[["cba35524.5963a"]]},{"id":"cb1fd3a7.797f2","type":"subflow:afe19cbf.f80a18","x":188,"y":628,"z":"b5898652.b556e","wires":[]},{"id":"cba35524.5963a","type":"function","name":"Add response headers","func":"msg.headers = { \"Content-Type\": \"text/html\" };\nreturn msg;","outputs":1,"noerr":0,"x":783,"y":60,"z":"afe19cbf.f80a18","wires":[["d27d7e46.05eca"]]},{"id":"fc69fabb.40b08","type":"http response","name":"","x":858,"y":276,"z":"afe19cbf.f80a18","wires":[]},{"id":"82a8817d.9420a","type":"http in","name":"Handle setup form submission","url":"/setup","method":"post","swaggerDoc":"","x":137,"y":205,"z":"afe19cbf.f80a18","wires":[["7a5faf27.1b8938"]]},{"id":"9aac6c5b.b061c","type":"function","name":"Redirect to /prints if successful","func":"if (msg.statusCode == \"200\")\n{\n    // We successfully downloaded the config\n    // so redirect to the /prints page\n    msg.headers = { \"Location\": \"/prints\" };\n    msg.statusCode = 302;\n}\n// else something went wrong, pass on the error page\nreturn msg;","outputs":"1","noerr":0,"x":664,"y":276,"z":"afe19cbf.f80a18","wires":[["fc69fabb.40b08"]]},{"id":"7a5faf27.1b8938","type":"http request","name":"Get the chosen box details","method":"GET","ret":"obj","url":"http://www.museuminabox.org/boxes/{{payload.box_id}}.json","x":411,"y":205,"z":"afe19cbf.f80a18","wires":[["9aac6c5b.b061c","6d76d26f.1e1a44","51567b84.e638b4"]]},{"id":"6d76d26f.1e1a44","type":"file","name":"Save the settings","filename":"/home/pi/miab/box-config.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":694,"y":190,"z":"afe19cbf.f80a18","wires":[]},{"id":"a9a1a5d6.e1f4a8","type":"subflow:2c85e1fd.fde9ae","x":326,"y":567.5,"z":"b5898652.b556e","wires":[["7866ff92.1495d8"]]},{"id":"51567b84.e638b4","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":649,"y":233,"z":"afe19cbf.f80a18","wires":[["58f4c569.64f99c"]]},{"id":"58f4c569.64f99c","type":"subflow:2c85e1fd.fde9ae","x":814,"y":232,"z":"afe19cbf.f80a18","wires":[[]]},{"id":"882059fa.c9f278","type":"http in","name":"","url":"/prints","method":"get","swaggerDoc":"","x":88,"y":377,"z":"afe19cbf.f80a18","wires":[["1f04b6d7.3557a1"]]},{"id":"c9624786.2ff3e","type":"http response","name":"","x":794,"y":442,"z":"afe19cbf.f80a18","wires":[]},{"id":"45f2b710.48f8e8","type":"template","name":"Format HTML page","field":"payload","format":"handlebars","template":"<html>\n    <head>\n        <title>Write Print Tags</title>\n        <style type=\"text/css\">\n            li img { width: 10%; }\n        </style>\n    </head>\n    <body>\n        <h1>Write Print Tags</h1>\n        <p>Place a print onto the brain, then click the \"Write tag\" button to write the tag.</p>\n        <ul>\n        {{#payload}}\n            <li><img src=\"{{{image_url}}}\"> {{name}}\n                <form action=\"/tag\" method=\"post\" id=\"tag{{id}}\">\n                    <input type=\"hidden\" name=\"url\" value=\"{{url}}\" />\n                    <input type=\"hidden\" name=\"id\" value=\"{{id}}\" />\n                    <input type=\"hidden\" name=\"audio\" value=\"{{brain_filename_audio}}\" />\n                    <input type=\"hidden\" name=\"video\" value=\"{{brain_filename_video}}\" />\n                    <input type=\"submit\" name=\"write\" value=\"Write tag\" onclick=\"$('#msg{{id}}').text('Working...'); $.post('/tag', $('#tag{{id}}').serialize()) .done(function() { $('#msg{{id}}').text('Ok') }) .fail(function() { $('#msg{{id}}').text('Failed') }); return false;\" />\n                    <span id=\"msg{{id}}\"></span>\n                </form>\n            </li>\n        {{/payload}}\n        </ul>\n    </body>\n    <script src=\"vendor/vendor.js\"></script>\n</html>\n","x":478,"y":377,"z":"afe19cbf.f80a18","wires":[["94182766.541e68"]]},{"id":"94182766.541e68","type":"function","name":"Add response headers","func":"msg.headers = { \"Content-Type\": \"text/html\" };\nreturn msg;","outputs":1,"noerr":0,"x":695,"y":377,"z":"afe19cbf.f80a18","wires":[["c9624786.2ff3e"]]},{"id":"5dc010f1.5ecf08","type":"json","name":"","x":424,"y":69,"z":"2c85e1fd.fde9ae","wires":[["8165cef1.12886"]]},{"id":"86b5d39d.f8eb3","type":"inject","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131,"y":590,"z":"afe19cbf.f80a18","wires":[["b75c4abb.8231b8"]]},{"id":"b75c4abb.8231b8","type":"function","name":"Generate test NDEF records","func":"msg.payload = [];\nmsg.payload.push({\"type\":\"Sp\", \"value\":\"http://mcqn.com/ibal151/\"});\nmsg.payload.push({\"type\":\"T\", \"value\":\"{\\\"name\\\":\\\"Bust of Violette Szabo\\\",\\\"audio\\\":\\\"violette.wav\\\",\\\"video\\\":\\\"violette.mp4\\\"}\"});\n\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":590,"z":"afe19cbf.f80a18","wires":[["9e2b57dc.b17448","1aebf3aa.c444f4"]]},{"id":"1aebf3aa.c444f4","type":"rpi-rfid write-ndef","name":"","x":574,"y":612,"z":"afe19cbf.f80a18","wires":[["9e2b57dc.b17448","791150d5.04aae"]]},{"id":"9e2b57dc.b17448","type":"debug","name":"","active":true,"console":"false","complete":"false","x":771,"y":590,"z":"afe19cbf.f80a18","wires":[]},{"id":"2dcc27fb.0bc0b8","type":"http in","name":"","url":"/tag","method":"get","swaggerDoc":"","x":97,"y":683,"z":"afe19cbf.f80a18","wires":[["791150d5.04aae"]]},{"id":"791150d5.04aae","type":"file in","name":"","filename":"/home/pi/miab/tag.html","format":"utf8","x":632,"y":683,"z":"afe19cbf.f80a18","wires":[["507e8db4.8a3d1c"]]},{"id":"507e8db4.8a3d1c","type":"http response","name":"","x":806,"y":683,"z":"afe19cbf.f80a18","wires":[]},{"id":"7fa143e2.188d1c","type":"http in","name":"","url":"/tag","method":"post","swaggerDoc":"","x":98,"y":639,"z":"afe19cbf.f80a18","wires":[["849337da.209338"]]},{"id":"849337da.209338","type":"function","name":"Convert form fields into NDEF records","func":"var url = { \"type\":\"Sp\", \"value\": msg.payload.url };\nmsg.payload.url = undefined;\nmsg.payload.write = undefined;\nvar text = { \"type\":\"T\", \"value\": JSON.stringify(msg.payload) };\nmsg.payload = [url, text];\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":639,"z":"afe19cbf.f80a18","wires":[["1aebf3aa.c444f4"]]},{"id":"fd7a86ac.3abd9","type":"comment","name":"Write RFID tags","info":"","x":118,"y":542,"z":"afe19cbf.f80a18","wires":[]},{"id":"742a446e.0f7c64","type":"function","name":"Build URL","func":"msg.url = \"http://www.museuminabox.org/boxes/\"+context.global.box_settings.id+\"/list.json\";\nmsg.method = \"GET\";\nreturn msg;","outputs":1,"noerr":0,"x":162,"y":63,"z":"cf784ed9.0d2bd8","wires":[["7780af62.9d3db8"]]},{"id":"7780af62.9d3db8","type":"http request","name":"Download prints list for this box","method":"GET","ret":"obj","url":"","x":373,"y":63,"z":"cf784ed9.0d2bd8","wires":[["38249e7c.d584c2"]]},{"id":"1f04b6d7.3557a1","type":"subflow:cf784ed9.0d2bd8","x":270,"y":377,"z":"afe19cbf.f80a18","wires":[["45f2b710.48f8e8"]]},{"id":"38249e7c.d584c2","type":"function","name":"Get all the media URLs","func":"// Collect all the media URLs\nvar arrayLength = msg.payload.length;\nvar urls = [];\nfor (var i = 0; i < arrayLength; i++) {\n    if (context.global.box_settings.brain_type == \"audio\")\n    {\n        urls.push({ payload: \"--directory-prefix=/home/pi/miab/audio \"+msg.payload[i].brain_url_audio });\n    }\n    else\n    {\n        urls.push({ payload: \"--directory-prefix=/home/pi/miab/video \"+msg.payload[i].brain_url_video });\n    }\n}\nreturn [urls];","outputs":1,"noerr":0,"x":397,"y":143,"z":"cf784ed9.0d2bd8","wires":[["b5497d9b.c358f8","976eecaf.0dd1b8"]]},{"id":"b5497d9b.c358f8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":738,"y":143,"z":"cf784ed9.0d2bd8","wires":[]},{"id":"976eecaf.0dd1b8","type":"exec","command":"wget --timestamping","addpay":true,"append":"","useSpawn":"","name":"Download the media file","x":583,"y":247,"z":"cf784ed9.0d2bd8","wires":[["b5497d9b.c358f8"],["b5497d9b.c358f8"],["b5497d9b.c358f8"]]},{"id":"147f1020.897328","type":"subflow:cf784ed9.0d2bd8","x":670,"y":156,"z":"2c85e1fd.fde9ae","wires":[[]]},{"id":"7f261c8f.f40ecc","type":"exec","command":"aplay /home/pi/miab/ready.wav","addpay":false,"append":"","useSpawn":"","name":"Play the \"We're ready!\" sound","x":684,"y":214,"z":"2c85e1fd.fde9ae","wires":[[],[],[]]},{"id":"f5a13dba.fd8078","type":"exec","command":"aplay /home/pi/miab/boop.wav","addpay":false,"append":"","useSpawn":"","name":"Play Boop sound","x":817,"y":163,"z":"b5898652.b556e","wires":[[],[],[]]}]