node-red-config/flows_brain.json
[
    {
        "id": "b5898652.b556e",
        "type": "tab",
        "label": "Sheet 1"
    },
    {
        "id": "e8d65b2b.201058",
        "type": "subflow",
        "name": "Record boop",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "b3d2ad66.618708"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "55fd9d30.dec324",
        "type": "subflow",
        "name": "Play audio content",
        "in": [
            {
                "x": 70,
                "y": 70,
                "wires": [
                    {
                        "id": "dee7273e.9b682"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 625,
                "y": 66,
                "wires": [
                    {
                        "id": "d4df4b9b.eb9988",
                        "port": 0
                    },
                    {
                        "id": "d4df4b9b.eb9988",
                        "port": 1
                    },
                    {
                        "id": "d4df4b9b.eb9988",
                        "port": 2
                    }
                ]
            }
        ]
    },
    {
        "id": "afe19cbf.f80a18",
        "type": "subflow",
        "name": "Box setup web UI",
        "in": [],
        "out": []
    },
    {
        "id": "2c85e1fd.fde9ae",
        "type": "subflow",
        "name": "Load settings",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "db927f2e.1204d8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 770,
                "y": 90,
                "wires": [
                    {
                        "id": "8165cef1.12886",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "c4a92f1b.12287",
        "type": "subflow",
        "name": "Record boop end",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "8267637c.60b6d"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "8ccef780.43f758",
        "type": "subflow",
        "name": "Check for updates",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "f47f9587.55ff"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "3e6589d1.eeda5e",
        "type": "subflow",
        "name": "Update/download Audio",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 100,
                "wires": [
                    {
                        "id": "6c987ced.c3ae94"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1160,
                "y": 240,
                "wires": [
                    {
                        "id": "761e4520.6ac67c",
                        "port": 2
                    }
                ]
            }
        ]
    },
    {
        "id": "e75d45d3.2600d8",
        "type": "debug",
        "z": "e8d65b2b.201058",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "2140470b.9fc3a8",
        "type": "http request",
        "z": "e8d65b2b.201058",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "https://heart.museuminabox.org/api/boopstart",
        "tls": "",
        "x": 430,
        "y": 60,
        "wires": [
            [
                "e75d45d3.2600d8",
                "e40cb3f0.0a948"
            ]
        ]
    },
    {
        "id": "b3d2ad66.618708",
        "type": "function",
        "z": "e8d65b2b.201058",
        "name": "Build JSON for request",
        "func": "// Store which print we're booping, so we've got it\n// to hand for the CSV file when the boop ends\ncontext.global.current_print_id = msg.payload.id;\nvar old_payload = msg.payload;\nmsg.payload = { \"created_at\": new Date().toJSON(), \"box_id\": context.global.box_settings.id, \"print_id\": old_payload.id };\nheaders = { \"Content-Type\": \"application/json\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 60,
        "wires": [
            [
                "2140470b.9fc3a8",
                "e75d45d3.2600d8",
                "4672f700.22b518"
            ]
        ]
    },
    {
        "id": "63ecce13.be265",
        "type": "csv",
        "z": "e8d65b2b.201058",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": false,
        "multi": "one",
        "ret": "\\n",
        "temp": "created_at,box_id,print_id",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "64ebaf01.219d"
            ]
        ]
    },
    {
        "id": "64ebaf01.219d",
        "type": "file",
        "z": "e8d65b2b.201058",
        "name": "",
        "filename": "/home/pi/miab/boops_log.csv",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 630,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3b6d686d.3eb03",
        "type": "exec",
        "z": "b5898652.b556e",
        "command": "killall play",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "name": "",
        "x": 560,
        "y": 320,
        "wires": [
            [
                "f536fa11.eebb68"
            ],
            [
                "f536fa11.eebb68"
            ],
            [
                "f536fa11.eebb68"
            ]
        ]
    },
    {
        "id": "f536fa11.eebb68",
        "type": "debug",
        "z": "b5898652.b556e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "b170be0.3c60e4",
        "type": "switch",
        "z": "b5898652.b556e",
        "name": "presented or removed?",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pi/rfid-presented",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "3d109ded.41f7ba"
            ],
            [
                "3b6d686d.3eb03",
                "cd38ed8b.96293"
            ]
        ]
    },
    {
        "id": "dcf63ff6.45e4c8",
        "type": "json",
        "z": "b5898652.b556e",
        "name": "Convert to JSON",
        "x": 570,
        "y": 120,
        "wires": [
            [
                "f6d5f2f9.3bbaf"
            ]
        ]
    },
    {
        "id": "d2edde8.81a162",
        "type": "comment",
        "z": "b5898652.b556e",
        "name": "Main Brain operation",
        "info": "",
        "x": 104,
        "y": 29,
        "wires": []
    },
    {
        "id": "b3b74b81.42e778",
        "type": "subflow:e8d65b2b.201058",
        "z": "b5898652.b556e",
        "name": "Record Boop",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "dee7273e.9b682",
        "type": "template",
        "z": "55fd9d30.dec324",
        "name": "Map to audio filename",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/home/pi/miab/audio/{{payload.audio}}",
        "x": 242,
        "y": 68,
        "wires": [
            [
                "d4df4b9b.eb9988"
            ]
        ]
    },
    {
        "id": "d4df4b9b.eb9988",
        "type": "exec",
        "z": "55fd9d30.dec324",
        "command": "play",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "name": "Play audio",
        "x": 450,
        "y": 67,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "192c08af.101cb7",
        "type": "subflow:55fd9d30.dec324",
        "z": "b5898652.b556e",
        "x": 630,
        "y": 260,
        "wires": [
            [
                "f536fa11.eebb68"
            ]
        ]
    },
    {
        "id": "72069fd0.ea825",
        "type": "file in",
        "z": "2c85e1fd.fde9ae",
        "name": "Read in our settings",
        "filename": "/home/pi/miab/box-config.json",
        "format": "utf8",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "5dc010f1.5ecf08"
            ]
        ]
    },
    {
        "id": "14b3f31c.f2289d",
        "type": "inject",
        "z": "b5898652.b556e",
        "name": "Run at startup",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 120,
        "y": 480,
        "wires": [
            [
                "a9a1a5d6.e1f4a8"
            ]
        ]
    },
    {
        "id": "8165cef1.12886",
        "type": "function",
        "z": "2c85e1fd.fde9ae",
        "name": "Apply settings",
        "func": "context.global.box_settings = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 596,
        "y": 99,
        "wires": [
            [
                "44ad67f.6239018"
            ]
        ]
    },
    {
        "id": "7866ff92.1495d8",
        "type": "debug",
        "z": "b5898652.b556e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 480,
        "wires": []
    },
    {
        "id": "fb9cae82.28853",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "Initial setup page",
        "url": "/setup",
        "method": "get",
        "swaggerDoc": "",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "6f669a6b.b3c81c"
            ]
        ]
    },
    {
        "id": "d27d7e46.05eca",
        "type": "http response",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 1056,
        "y": 239,
        "wires": []
    },
    {
        "id": "16dd1e16.1b381a",
        "type": "template",
        "z": "afe19cbf.f80a18",
        "name": "Format HTML page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n        <head>\n                <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\"> \n                <title>\n                        Configure this brain - box.local - Museum in a Box\n                </title>\n                <link rel=\"stylesheet\" type=\"text/css\" href=\"/box-style.css\"> \n        </head>\n        <body>\n                <div class=\"header\">\n                        <nav>\n                                <a href=\"/\"><img src=\"/mb-logo.png\" alt=\"Museum in a Box logo\" title=\"click to go home\"></a>\n                                <a href=\"/\">box.local</a>\n                                <a href=\"/prints\">Set up a collection</a>\n                                <a href=\"/setup\" class=\"admin\">Set up</a>\n                                <a href=\"/upgrade\" class=\"admin\">Upgrade</a>\n                                <a href=\"/admin\" class=\"admin\">Debug</a>\n                        </nav>\n                        <h1>\n                                {{#box_settings.hardware_id}}\n                                {{box_settings.hardware_id}} \n                                {{/box_settings.hardware_id}}\n                                {{^box_settings.hardware_id}}\n                                unknown\n                                {{/box_settings.hardware_id}}\n                                / \n                                {{#box_settings.exterior}}\n                                {{box_settings.exterior}}\n                                {{/box_settings.exterior}}\n                                {{^box_settings.exterior}}\n                                unknown\n                                {{/box_settings.exterior}}\n                        </h1>\n                </div>\n\n                {{#payload}}\n                <p>\n                        <strong>\n                                {{payload}} \n                        </strong>\n                </p>\n                <p>\n                        If you want to discard this box ID (or create one from scratch) then hit the button below...\n                </p>\n                {{/payload}}\n                {{^payload}}\n                <p>\n                        To create a new box then hit the button below...\n                </p>\n                {{/payload}}\n                <p>\n                        If you're looking to upgrade an existing box then head over to\n                        <a href=\"/upgrade\">\n                                /upgrade\n                        </a>\n                </p>\n                <form method=\"POST\">\n                       <label for=\"hardware_id\">\n                                Hardware ID (on the underside of the case):\n                        </label>\n                        <input type=\"text\" name=\"hardware_id\"><br>\n                        <label for=\"exterior\">\n                                Exterior (box material, colour):\n                        </label>\n                        <select name=\"exterior\">\n                            <option value=\"Blue acrylic\">Blue acrylic</option>\n                            <option value=\"Pink acrylic\">Pink acrylic</option>\n                            <option value=\"Yellow acrylic\">Yellow acrylic</option>\n                            <option value=\"Black acrylic\">Black acrylic</option>\n                            <option value=\"Transparent acrylic\">Transparent acrylic</option>\n                            <option value=\"Plywood\">Plywood</option>\n                            <option value=\"Other\">Other</option>\n                        </select>\n                        <br> <input type=\"submit\" value=\"Create a new box\">\n                </form>\n        </body>\n</html>\n",
        "x": 606,
        "y": 239,
        "wires": [
            [
                "cba35524.5963a"
            ]
        ]
    },
    {
        "id": "cb1fd3a7.797f2",
        "type": "subflow:afe19cbf.f80a18",
        "z": "b5898652.b556e",
        "x": 110,
        "y": 660,
        "wires": []
    },
    {
        "id": "cba35524.5963a",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Add response headers",
        "func": "msg.headers = { \"Content-Type\": \"text/html\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 836,
        "y": 239,
        "wires": [
            [
                "d27d7e46.05eca"
            ]
        ]
    },
    {
        "id": "fc69fabb.40b08",
        "type": "http response",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 1338,
        "y": 482,
        "wires": []
    },
    {
        "id": "82a8817d.9420a",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "Handle setup form submission",
        "url": "/setup",
        "method": "post",
        "swaggerDoc": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "f959d7a1.171458"
            ]
        ]
    },
    {
        "id": "9aac6c5b.b061c",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Redirect to /prints if successful",
        "func": "// We successfully downloaded the config\n// so redirect to the /prints page\nmsg.headers = { \"Location\": \"/prints\" };\nmsg.statusCode = 302;\nmsg.payload = \"Redirect to /prints\";\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 995,
        "y": 437,
        "wires": [
            [
                "409166bb.b2bf68"
            ]
        ]
    },
    {
        "id": "7a5faf27.1b8938",
        "type": "http request",
        "z": "afe19cbf.f80a18",
        "name": "Get the chosen box details",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 400,
        "y": 420,
        "wires": [
            [
                "d3e4fb5.c7e2f08"
            ]
        ]
    },
    {
        "id": "6d76d26f.1e1a44",
        "type": "file",
        "z": "afe19cbf.f80a18",
        "name": "Save the settings",
        "filename": "/home/pi/miab/box-config.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 1054,
        "y": 350,
        "wires": [
            []
        ]
    },
    {
        "id": "a9a1a5d6.e1f4a8",
        "type": "subflow:2c85e1fd.fde9ae",
        "z": "b5898652.b556e",
        "x": 320,
        "y": 480,
        "wires": [
            [
                "7866ff92.1495d8",
                "50c51caf.62ed44",
                "50e784a7.b2a4b4"
            ]
        ]
    },
    {
        "id": "51567b84.e638b4",
        "type": "delay",
        "z": "afe19cbf.f80a18",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1009,
        "y": 393,
        "wires": [
            [
                "58f4c569.64f99c"
            ]
        ]
    },
    {
        "id": "58f4c569.64f99c",
        "type": "subflow:2c85e1fd.fde9ae",
        "z": "afe19cbf.f80a18",
        "x": 1174,
        "y": 392,
        "wires": [
            []
        ]
    },
    {
        "id": "882059fa.c9f278",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "",
        "url": "/prints",
        "method": "get",
        "swaggerDoc": "",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "7a0c0b65.061d24",
                "9da8694e.88f39"
            ]
        ]
    },
    {
        "id": "c9624786.2ff3e",
        "type": "http response",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 1170,
        "y": 740,
        "wires": []
    },
    {
        "id": "6ce2c335.50aee4",
        "type": "http request",
        "z": "afe19cbf.f80a18",
        "name": "Download prints list for this box",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 469,
        "y": 680,
        "wires": [
            [
                "1b93fc30.0fbe74"
            ]
        ]
    },
    {
        "id": "7a0c0b65.061d24",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Build URL",
        "func": "msg.url = \"https://heart.museuminabox.org/api/boxes/\"+context.global.box_settings.id+\"/sync.json\";\nmsg.method = \"POST\";\nmsg.payload = { \"software_version\": context.global.software_version };\n// Store box details to display later too\nmsg.box_settings = context.global.box_settings;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 680,
        "wires": [
            [
                "6ce2c335.50aee4"
            ]
        ]
    },
    {
        "id": "45f2b710.48f8e8",
        "type": "template",
        "z": "afe19cbf.f80a18",
        "name": "Format HTML page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n        <head>\n                <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\"> \n                <title>\n                        Write Tags - box.local - Museum in a Box\n                </title>\n                <link rel=\"stylesheet\" type=\"text/css\" href=\"/box-style.css\"> \n        </head>\n        <body>\n                <div class=\"header\">\n                        <nav>\n                                <a href=\"/\"><img src=\"/mb-logo.png\" alt=\"Museum in a Box logo\" title=\"click to go home\"></a>\n                                <a href=\"/\">box.local</a>\n                                <a href=\"/prints\">Set up a collection</a>\n                        </nav>\n                        <h1>\n                                {{#box_settings.hardware_id}}\n                                {{box_settings.hardware_id}} \n                                {{/box_settings.hardware_id}}\n                                {{^box_settings.hardware_id}}\n                                unknown\n                                {{/box_settings.hardware_id}}\n                                / \n                                {{#box_settings.exterior}}\n                                {{box_settings.exterior}}\n                                {{/box_settings.exterior}}\n                                {{^box_settings.exterior}}\n                                unknown\n                                {{/box_settings.exterior}}\n                        </h1>\n                </div>\n\n                <p><strong>OK!</strong> Here's what to do:<p>\n                <ol>\n                        <li>Stick your stickers on your objects</li>\n                        <li>Find the object in the list below</li>\n                        <li>Put your 3D print or postcard onto the Box</li>\n                        <li>Click the \"Write\" button to connect the sticker to its audio file</li>\n                        <li>Wait for the green OK! (Or, the \"try again\" message.)</li>\n                        <li>Wait a moment, then try booping your new object to hear the audio!</li>\n                </ol>\n\n                <p>Sometimes, the sticker doesn't write immediately... if it seems to not work, just wait a moment, then go back to Step 3, and try again.</p>\n\n                <p>If that doesn't work, check that your Box has all the audio files it needs, by hitting this button:</p>\n\n                <form action=\"/update-content\" method=\"post\" id=\"updateContent\">\n                        <input type=\"submit\" name=\"check\" value=\"Check the Box has all audio files\" onclick=\"$('#updateContent')[0].classList = 'working'; $('#msgUpdateContent').text('Working...'); $.post('/update-content') .done(function() { $('#updateContent')[0].classList = 'ok'; $('#msgUpdateContent').text('Ok') }) .fail(function() { $('#updateContent')[0].classList = 'failed'; $('#msgUpdateContent').text('Failed.  Try again') }); return false;\">\n                        <span id=\"msgUpdateContent\">\n                        </span>\n                </form>\n\n                <hr />\n\n                <h1>Your Collections</h1>\n\n                <div class=\"object-list\">\n\n                        <h3 id=\"Admin Objects\">Admin Objects</h3>\n                        <ul>\n                                <li id=\"liGillian\">\n                                        <p id=\"msgGillian\">\n                                        </p>\n                                        <div class=\"print\" align=\"center\">\n                                                <img src=\"https://museuminabox.s3.amazonaws.com/CACHE/images/things/images/df8879df-2f16-4138-bdfc-65b8e093eb2b/63b7303e5756721bee4937b17c0b5050.JPG\" alt=\"Gillian 'Welcome' totem\">\n                                        </div>\n                                        <form action=\"/tag\" method=\"post\" id=\"tagGillian\">\n                                                <input type=\"hidden\" name=\"url\" value=\"http://www.museuminabox.org\"> <input type=\"hidden\" name=\"id\" value=\"1839\"> <input type=\"hidden\" name=\"audio\" value=\"Gillian_Intro_Boop.wav\"> <input type=\"submit\" name=\"write\" value=\"Write\" onclick=\"$('#liGillian')[0].classList = 'working'; $('#msgGillian').text('Working...'); $.post('/tag', $('#tagGillian').serialize()) .done(function() { $('#liGillian')[0].classList = 'ok'; $('#msgGillian').text('Ok') }) .fail(function() { $('#liGillian')[0].classList = 'failed'; $('#msgGillian').text('TRY AGAIN') }); return false;\">\n                                        </form>\n                                </li>\n                                <li id=\"liWiFi\">\n                                        <p id=\"msgWiFi\">\n                                        </p>\n                                        <div class=\"print\" align=\"center\">\n                                                <img src=\"\" alt=\"Configure WiFi admin totem\">\n                                        </div>\n                                        <form action=\"/tag\" method=\"post\" id=\"tagWiFi\">\n                                                <input type=\"hidden\" name=\"url\" value=\"http://www.museuminabox.org\"> <input type=\"hidden\" name=\"configure\" value=\"wifi\"> <input type=\"submit\" name=\"write\" value=\"Write\" onclick=\"$('#liWiFi')[0].classList = 'working'; $('#msgWiFi').text('Working...'); $.post('/tag', $('#tagWiFi').serialize()) .done(function() { $('#liWiFi')[0].classList = 'ok'; $('#msgWiFi').text('Ok') }) .fail(function() { $('#liWiFi')[0].classList = 'failed'; $('#msgWiFi').text('TRY AGAIN') }); return false;\">\n                                        </form>\n                                </li>\n                                <li id=\"liUpgrade\">\n                                        <p id=\"msgUpgrade\">\n                                        </p>\n                                        <div class=\"print\" align=\"center\">\n                                                <img src=\"\" alt=\"Check for updates admin totem\">\n                                        </div>\n                                        <form action=\"/tag\" method=\"post\" id=\"tagUpgrade\">\n                                                <input type=\"hidden\" name=\"url\" value=\"http://www.museuminabox.org\"> <input type=\"hidden\" name=\"configure\" value=\"upgrade\"> <input type=\"submit\" name=\"write\" value=\"Write\" onclick=\"$('#liUpgrade')[0].classList = 'working'; $('#msgUpgrade').text('Working...'); $.post('/tag', $('#tagUpgrade').serialize()) .done(function() { $('#liUpgrade')[0].classList = 'ok'; $('#msgUpgrade').text('Ok') }) .fail(function() { $('#liUpgrade')[0].classList = 'failed'; $('#msgUpgrade').text('TRY AGAIN') }); return false;\">\n                                        </form>\n                                </li>\n                        </ul>\n                </div>\n\n                {{#collections}}\n                <div class=\"object-list\">\n\n                        <h3 id=\"{{name}}\">\n                            {{name}}\n                        </h3>\n                        <ul>\n                        {{#prints}}\n                                <li id=\"li{{id}}\">\n                                        <p id=\"msg{{id}}\">\n                                        </p>\n                                        <div class=\"print\" align=\"center\">\n                                                <img src=\"{{{image_url}}}\" alt=\"{{name}}\">\n                                        </div>\n                                        <form action=\"/tag\" method=\"post\" id=\"tag{{id}}\">\n                                                <input type=\"hidden\" name=\"url\" value=\"{{url}}\" />\n                                                <input type=\"hidden\" name=\"id\" value=\"{{id}}\" />\n                                                <input type=\"hidden\" name=\"audio\" value=\"{{brain_filename_audio}}\" />\n                                                <input type=\"submit\" name=\"write\" value=\"Write\" onclick=\"$('#li{{id}}')[0].classList = 'working'; $('#msg{{id}}').text('Working...'); $.post('/tag', $('#tag{{id}}').serialize()) .done(function() { $('#li{{id}}')[0].classList = 'ok'; $('#msg{{id}}').text('') }) .fail(function() { $('#li{{id}}')[0].classList = 'failed'; $('#msg{{id}}').text('TRY AGAIN') }); return false;\" />\n                                        </form>\n                                </li>\n                        {{/prints}}\n                        </ul>\n\n                </div>\n                {{/collections}}\n\n    </body>\n    <script src=\"/admin/vendor/vendor.js\"></script>\n</html>\n",
        "x": 1000,
        "y": 680,
        "wires": [
            [
                "94182766.541e68"
            ]
        ]
    },
    {
        "id": "94182766.541e68",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Add response headers",
        "func": "msg.headers = { \"Content-Type\": \"text/html\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 740,
        "wires": [
            [
                "c9624786.2ff3e"
            ]
        ]
    },
    {
        "id": "5dc010f1.5ecf08",
        "type": "json",
        "z": "2c85e1fd.fde9ae",
        "name": "",
        "x": 414,
        "y": 99,
        "wires": [
            [
                "8165cef1.12886"
            ]
        ]
    },
    {
        "id": "86b5d39d.f8eb3",
        "type": "inject",
        "z": "afe19cbf.f80a18",
        "name": "Test",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 1080,
        "wires": [
            [
                "b75c4abb.8231b8"
            ]
        ]
    },
    {
        "id": "b75c4abb.8231b8",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Generate test NDEF records",
        "func": "msg.payload = [];\nmsg.payload.push({\"type\":\"Sp\", \"value\":\"https://mcqn.com/ibal151/\"});\nmsg.payload.push({\"type\":\"T\", \"value\":\"{\\\"name\\\":\\\"Bust of Violette Szabo\\\",\\\"audio\\\":\\\"violette.wav\\\"}\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 323,
        "y": 1080,
        "wires": [
            [
                "9e2b57dc.b17448"
            ]
        ]
    },
    {
        "id": "9e2b57dc.b17448",
        "type": "debug",
        "z": "afe19cbf.f80a18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 890,
        "y": 1060,
        "wires": []
    },
    {
        "id": "2dcc27fb.0bc0b8",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "",
        "url": "/tag",
        "method": "get",
        "swaggerDoc": "",
        "x": 100,
        "y": 1180,
        "wires": [
            [
                "791150d5.04aae"
            ]
        ]
    },
    {
        "id": "791150d5.04aae",
        "type": "file in",
        "z": "afe19cbf.f80a18",
        "name": "",
        "filename": "/home/pi/miab/tag.html",
        "format": "utf8",
        "x": 630,
        "y": 1180,
        "wires": [
            [
                "507e8db4.8a3d1c"
            ]
        ]
    },
    {
        "id": "507e8db4.8a3d1c",
        "type": "http response",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 850,
        "y": 1180,
        "wires": []
    },
    {
        "id": "7fa143e2.188d1c",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "",
        "url": "/tag",
        "method": "post",
        "swaggerDoc": "",
        "x": 97,
        "y": 1129,
        "wires": [
            [
                "849337da.209338"
            ]
        ]
    },
    {
        "id": "849337da.209338",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Convert form fields into NDEF records",
        "func": "var url = { \"type\":\"Sp\", \"value\": msg.payload.url };\nmsg.payload.url = undefined;\nmsg.payload.write = undefined;\nvar text = { \"type\":\"T\", \"value\": JSON.stringify(msg.payload) };\nmsg.payload = [url, text];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 324,
        "y": 1129,
        "wires": [
            [
                "22ea60b7.c45d48"
            ]
        ]
    },
    {
        "id": "fd7a86ac.3abd9",
        "type": "comment",
        "z": "afe19cbf.f80a18",
        "name": "Write RFID tags",
        "info": "",
        "x": 117,
        "y": 1032,
        "wires": []
    },
    {
        "id": "6c987ced.c3ae94",
        "type": "function",
        "z": "3e6589d1.eeda5e",
        "name": "Build URL",
        "func": "// Return an entirely new message in case the existing\n// one has any remnants of prior web requests\nreturn { \n    url: \"https://heart.museuminabox.org/api/boxes/\"+context.global.box_settings.id+\"/sync.json\",\n    method: \"POST\",\n    payload: { \"software_version\": context.global.software_version, \"mac_addr\": context.global.mac_addr }\n};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 100,
        "wires": [
            [
                "6d4612aa.78327c",
                "e27f63df.ebfb4"
            ]
        ]
    },
    {
        "id": "6d4612aa.78327c",
        "type": "http request",
        "z": "3e6589d1.eeda5e",
        "name": "Download prints list for this box",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 510,
        "y": 100,
        "wires": [
            [
                "27712e00.0d3722"
            ]
        ]
    },
    {
        "id": "27712e00.0d3722",
        "type": "function",
        "z": "3e6589d1.eeda5e",
        "name": "Extract the audio content URLs",
        "func": "var urls = \"\";\nfor (i=0; i < msg.payload.prints.length; i++)\n{\n    urls = urls + \"\\n\" + msg.payload.prints[i].brain_url_audio;\n}\nmsg.payload = urls;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 240,
        "wires": [
            [
                "f77c3880.8a7d78"
            ]
        ]
    },
    {
        "id": "761e4520.6ac67c",
        "type": "exec",
        "z": "3e6589d1.eeda5e",
        "command": "umask 013 && wget",
        "addpay": false,
        "append": "--timestamping --no-verbose --directory-prefix=/home/pi/miab/audio --input-file=/tmp/miab-content",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "Download media files",
        "x": 960,
        "y": 240,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "50e784a7.b2a4b4",
        "type": "exec",
        "z": "b5898652.b556e",
        "command": "play",
        "addpay": false,
        "append": "/home/pi/miab/ready.wav",
        "useSpawn": "",
        "name": "We're ready now!",
        "x": 590,
        "y": 440,
        "wires": [
            [
                "7866ff92.1495d8"
            ],
            [
                "7866ff92.1495d8"
            ],
            [
                "7866ff92.1495d8",
                "5ac2bc3e.9b6d9c"
            ]
        ]
    },
    {
        "id": "50c51caf.62ed44",
        "type": "template",
        "z": "b5898652.b556e",
        "name": "Output an \"on\" signal",
        "field": "payload",
        "format": "handlebars",
        "template": "1",
        "x": 600,
        "y": 520,
        "wires": [
            [
                "9f3230dc.005a2"
            ]
        ]
    },
    {
        "id": "9f3230dc.005a2",
        "type": "rpi-gpio out",
        "z": "b5898652.b556e",
        "name": "Green \"ready\" LED",
        "pin": "11",
        "set": true,
        "level": "0",
        "out": "out",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "409166bb.b2bf68",
        "type": "delay",
        "z": "afe19cbf.f80a18",
        "name": "but give the settings some time to be loaded",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1093,
        "y": 482,
        "wires": [
            [
                "fc69fabb.40b08"
            ]
        ]
    },
    {
        "id": "e27f63df.ebfb4",
        "type": "debug",
        "z": "3e6589d1.eeda5e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "x": 450,
        "y": 40,
        "wires": []
    },
    {
        "id": "f6d5f2f9.3bbaf",
        "type": "switch",
        "z": "b5898652.b556e",
        "name": "Check for WiFi config tag",
        "property": "payload.configure",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "wifi",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "upgrade",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 570,
        "y": 180,
        "wires": [
            [
                "ea94ab59.a511d8",
                "f012350f.abefb8"
            ],
            [
                "95004328.0b7a68"
            ],
            [
                "f536fa11.eebb68",
                "b3b74b81.42e778",
                "192c08af.101cb7"
            ]
        ]
    },
    {
        "id": "ea94ab59.a511d8",
        "type": "exec",
        "z": "b5898652.b556e",
        "command": "play",
        "addpay": false,
        "append": "/home/pi/miab/configure-wifi.wav",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Tell the user to check for wifi",
        "x": 900,
        "y": 40,
        "wires": [
            [
                "f536fa11.eebb68"
            ],
            [],
            []
        ]
    },
    {
        "id": "f012350f.abefb8",
        "type": "exec",
        "z": "b5898652.b556e",
        "command": "/home/pi/miab/configure-wifi",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Start the WiFi configuring script",
        "x": 910,
        "y": 120,
        "wires": [
            [
                "f536fa11.eebb68"
            ],
            [
                "f536fa11.eebb68"
            ],
            [
                "f536fa11.eebb68"
            ]
        ]
    },
    {
        "id": "f959d7a1.171458",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Build URL",
        "func": "// Generate a UUID\n// Derived from https://gist.github.com/jed/982883\n//var uuidv4 = ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c => (c^crypto.randomBytes(1)[0]&15>>c/4).toString(16));\nvar uuidv4 = ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c => (c^Math.random() * 16>>c/4).toString(16));\n\nmsg.url = \"https://heart.museuminabox.org/api/boxes.json\";\nmsg.method = \"POST\";\nmsg.payload = \"id=\"+uuidv4+\"&hardware_id=\"+msg.payload.hardware_id+\"&exterior=\"+msg.payload.exterior;\nmsg.headers = [];\nmsg.headers[\"content-type\"] = \"application/x-www-form-urlencoded\";\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "7a5faf27.1b8938",
                "ec30111e.2defa8"
            ]
        ]
    },
    {
        "id": "d172acd7.e12a9",
        "type": "http response",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 810,
        "y": 480,
        "wires": []
    },
    {
        "id": "d3e4fb5.c7e2f08",
        "type": "switch",
        "z": "afe19cbf.f80a18",
        "name": "Check for successful response",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "200",
                "vt": "num",
                "v2": "299",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 670,
        "y": 420,
        "wires": [
            [
                "9aac6c5b.b061c",
                "51567b84.e638b4",
                "6d76d26f.1e1a44"
            ],
            [
                "d172acd7.e12a9"
            ]
        ]
    },
    {
        "id": "56e9e07d.b8e298",
        "type": "debug",
        "z": "c4a92f1b.12287",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "16eb7750.bd4371",
        "type": "http request",
        "z": "c4a92f1b.12287",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://heart.museuminabox.org/api/boopend",
        "tls": "",
        "x": 497,
        "y": 40,
        "wires": [
            [
                "56e9e07d.b8e298"
            ]
        ]
    },
    {
        "id": "8267637c.60b6d",
        "type": "function",
        "z": "c4a92f1b.12287",
        "name": "Build JSON for request",
        "func": "// See if there's a boop to finish\nif (context.global.current_boop_id) {\n    msg.payload = { \"created_at\": new Date().toJSON(), \"box_id\": context.global.box_settings.id, \"boop_id\": context.global.current_boop_id };\n    headers = { \"Content-Type\": \"application/json\" };\n    return msg;\n} else {\n    // There isn't one, it's most likely to be \n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 40,
        "wires": [
            [
                "16eb7750.bd4371",
                "56e9e07d.b8e298",
                "5fc3acce.0dc5f4"
            ]
        ]
    },
    {
        "id": "c0859e1a.68e45",
        "type": "csv",
        "z": "c4a92f1b.12287",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": false,
        "multi": "one",
        "ret": "\\n",
        "temp": "created_at,box_id,print_id",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "1747ab.9e412055"
            ]
        ]
    },
    {
        "id": "1747ab.9e412055",
        "type": "file",
        "z": "c4a92f1b.12287",
        "name": "",
        "filename": "/home/pi/miab/boops_log.csv",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 670,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4672f700.22b518",
        "type": "function",
        "z": "e8d65b2b.201058",
        "name": "Note that it is a start",
        "func": "// Note that this is a start rather than an end\nmsg.payload.start_or_end = \"start\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "63ecce13.be265"
            ]
        ]
    },
    {
        "id": "5fc3acce.0dc5f4",
        "type": "function",
        "z": "c4a92f1b.12287",
        "name": "Note that it is an end",
        "func": "// Note that this is a start rather than an end\nmsg.payload.start_or_end = \"end\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "c0859e1a.68e45"
            ]
        ]
    },
    {
        "id": "cd38ed8b.96293",
        "type": "subflow:c4a92f1b.12287",
        "z": "b5898652.b556e",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "ec30111e.2defa8",
        "type": "debug",
        "z": "afe19cbf.f80a18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 320,
        "wires": []
    },
    {
        "id": "e40cb3f0.0a948",
        "type": "function",
        "z": "e8d65b2b.201058",
        "name": "Store the returned boop_id for when the boop ends",
        "func": "context.global.current_boop_id = msg.payload.boop_id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "db927f2e.1204d8",
        "type": "file in",
        "z": "2c85e1fd.fde9ae",
        "name": "Read in software version",
        "filename": "/home/pi/miab/version.txt",
        "format": "utf8",
        "sendError": true,
        "x": 230,
        "y": 40,
        "wires": [
            [
                "1f296186.205446"
            ]
        ]
    },
    {
        "id": "1f296186.205446",
        "type": "function",
        "z": "2c85e1fd.fde9ae",
        "name": "Store software version",
        "func": "context.global.software_version = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 40,
        "wires": [
            [
                "72069fd0.ea825"
            ]
        ]
    },
    {
        "id": "24abfae1.0d7fde",
        "type": "template",
        "z": "afe19cbf.f80a18",
        "name": "Format HTML page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n        <head>\n                <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\"> \n                <title>Upgrade - box.local - Museum in a Box</title>\n                <link rel=\"stylesheet\" type=\"text/css\" href=\"/box-style.css\"> \n                <script type=\"text/javascript\">\n                        window.addEventListener('message', function(event) {\n                            console.log(event);\n                            document.getElementById('box_id').value = event.data;\n                        });\n                </script>\n        </head>\n        <body>\n                <div class=\"header\">\n                        <nav>\n                                <a href=\"/\"><img src=\"/mb-logo.png\" alt=\"Museum in a Box logo\" title=\"click to go home\"></a>\n                                <a href=\"/\">box.local</a>\n                                <a href=\"/prints\">Set up a collection</a>\n                                <a href=\"/setup\" class=\"admin\">Set up</a>\n                                <a href=\"/upgrade\" class=\"admin\">Upgrade</a>\n                                <a href=\"/admin\" class=\"admin\">Debug</a>\n                        </nav>\n                        <h1>\n                                {{#box_settings.hardware_id}}\n                                {{box_settings.hardware_id}} \n                                {{/box_settings.hardware_id}}\n                                {{^box_settings.hardware_id}}\n                                unknown\n                                {{/box_settings.hardware_id}}\n                                / \n                                {{#box_settings.exterior}}\n                                {{box_settings.exterior}}\n                                {{/box_settings.exterior}}\n                                {{^box_settings.exterior}}\n                                unknown\n                                {{/box_settings.exterior}}\n                        </h1>\n                </div>\n    {{#payload}}\n                <p>\n                        <strong>\n                            {{payload}}\n                        </strong>\n                </p>\n    {{/payload}}\n                <p>\n                        Set this box to be an existing box. Useful when upgrading an old box. If you want to create a new box then head to\n                        <a href=\"/setup\">\n                                /setup \n                        </a>\n                        .\n                </p>\n                <h2>\n                        Choose the box to upgrade from the list below: \n                </h2>\n                <iframe sandbox=\"allow-scripts allow-same-origin\" src=\"https://heart.museuminabox.org/heart/setup/boxes/\" width=\"100%\" height=\"300\">\n                </iframe>\n                <form action=\"/upgrade\" method=\"POST\">\n                        <label for=\"box_id\">\n                                Box ID:\n                        </label>\n                        <input id=\"box_id\" type=\"text\" size=\"40\" name=\"box_id\"> <input id=\"save\" type=\"submit\" name=\"Save\" value=\"Save\">\n                </form>\n        </body>\n</html>\n",
        "x": 680,
        "y": 620,
        "wires": [
            [
                "152973fa.46ac24"
            ]
        ]
    },
    {
        "id": "abde7dd1.790a98",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "Upgrade box page",
        "url": "/upgrade",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "70439c7c.d77bcc"
            ]
        ]
    },
    {
        "id": "152973fa.46ac24",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Add response headers",
        "func": "msg.headers = { \"Content-Security-Policy\": \"frame-src heart.museuminabox.org; script-src 'self' 'unsafe-inline' 'unsafe-eval'\", \"Content-Type\": \"text/html\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 620,
        "wires": [
            [
                "9260c168.5f3808"
            ]
        ]
    },
    {
        "id": "9260c168.5f3808",
        "type": "http response",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 1130,
        "y": 620,
        "wires": []
    },
    {
        "id": "959d40d6.3a1c9",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "Handle upgrade form submission",
        "url": "/upgrade",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "79c7285f.9de09"
            ]
        ]
    },
    {
        "id": "79c7285f.9de09",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Build URL",
        "func": "msg.url = \"https://heart.museuminabox.org/api/boxes/\"+msg.payload.box_id+\".json\";\nmsg.method = \"GET\";\nmsg.payload = \"\";\nmsg.headers = [];\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 160,
        "y": 540,
        "wires": [
            [
                "7a5faf27.1b8938",
                "ec30111e.2defa8"
            ]
        ]
    },
    {
        "id": "70439c7c.d77bcc",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Add warning if box ID already set",
        "func": "// Store box details to display later too\nmsg.box_settings = context.global.box_settings;\nif (context.global.box_settings) {\n    msg.payload = \"WARNING: This box has already been configured. Its ID is \"+\n    context.global.box_settings.id+\", with hardware ID of \"+\n    context.global.box_settings.hardware_id+\". Are you sure you want to change that?\";\n} else {\n    msg.payload = \"\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 620,
        "wires": [
            [
                "24abfae1.0d7fde"
            ]
        ]
    },
    {
        "id": "6f669a6b.b3c81c",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Add warning if box ID already set",
        "func": "// Store box details to display later too\nmsg.box_settings = context.global.box_settings;\nif (context.global.box_settings) {\n    msg.payload = \"WARNING: This box has already been configured. Its ID is \"+\n    context.global.box_settings.id+\", with hardware ID of \"+\n    context.global.box_settings.hardware_id+\". Are you sure you want to change that?\";\n} else {\n    msg.payload = \"\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 346,
        "y": 239,
        "wires": [
            [
                "16dd1e16.1b381a"
            ]
        ]
    },
    {
        "id": "e50d2201.782e6",
        "type": "catch",
        "z": "afe19cbf.f80a18",
        "name": "Catch any errors writing tags",
        "scope": [
            "22ea60b7.c45d48"
        ],
        "x": 360,
        "y": 1240,
        "wires": [
            [
                "9e2b57dc.b17448",
                "97afb1d0.66cfe8",
                "33040026.c38fe"
            ]
        ]
    },
    {
        "id": "97afb1d0.66cfe8",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Report errors",
        "func": "msg.statusCode = 400;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 1240,
        "wires": [
            [
                "507e8db4.8a3d1c"
            ]
        ]
    },
    {
        "id": "f6d75811.b0f12",
        "type": "http request",
        "z": "8ccef780.43f758",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 450,
        "y": 140,
        "wires": [
            [
                "550d9b96.649aac"
            ]
        ]
    },
    {
        "id": "f47f9587.55ff",
        "type": "exec",
        "z": "8ccef780.43f758",
        "command": "play",
        "addpay": false,
        "append": "/home/pi/miab/updates-check.wav",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Tell the user we're checking",
        "x": 240,
        "y": 80,
        "wires": [
            [],
            [],
            [
                "87310598.c85d68"
            ]
        ]
    },
    {
        "id": "87310598.c85d68",
        "type": "function",
        "z": "8ccef780.43f758",
        "name": "Build update URL",
        "func": "msg.url = \"https://heart.museuminabox.org/api/upgrade/\"+context.global.software_version;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 140,
        "wires": [
            [
                "f6d75811.b0f12"
            ]
        ]
    },
    {
        "id": "550d9b96.649aac",
        "type": "switch",
        "z": "8ccef780.43f758",
        "name": "Is there an update?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 140,
        "wires": [
            [
                "9ca33c2f.a6ee6",
                "ce75e90.0ef2418"
            ],
            [
                "7a56184e.b87c38"
            ]
        ]
    },
    {
        "id": "7a56184e.b87c38",
        "type": "exec",
        "z": "8ccef780.43f758",
        "command": "play",
        "addpay": false,
        "append": "/home/pi/miab/updates-ok.wav",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Updates all okay (either no update, or it succeeded)",
        "x": 1140,
        "y": 460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "9ca33c2f.a6ee6",
        "type": "file",
        "z": "8ccef780.43f758",
        "name": "Save the upgrade script",
        "filename": "/home/pi/upgrade",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 970,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ce75e90.0ef2418",
        "type": "delay",
        "z": "8ccef780.43f758",
        "name": "Give the script time to save",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 980,
        "y": 100,
        "wires": [
            [
                "eea18d76.276768"
            ]
        ]
    },
    {
        "id": "147559d9.4ee146",
        "type": "exec",
        "z": "8ccef780.43f758",
        "command": "play",
        "addpay": false,
        "append": "/home/pi/miab/updates-failed.wav",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Updates failed",
        "x": 1280,
        "y": 380,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4cd04be6.53574c",
        "type": "exec",
        "z": "8ccef780.43f758",
        "command": "/home/pi/upgrade",
        "addpay": false,
        "append": "/home/pi/miab/updates-ok.wav",
        "useSpawn": "false",
        "timer": "300",
        "oldrc": false,
        "name": "Run the upgrade script",
        "x": 990,
        "y": 260,
        "wires": [
            [
                "20b9f558.ccb3ca"
            ],
            [
                "20b9f558.ccb3ca"
            ],
            [
                "20b9f558.ccb3ca",
                "e363e654.912da"
            ]
        ]
    },
    {
        "id": "20b9f558.ccb3ca",
        "type": "debug",
        "z": "8ccef780.43f758",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1300,
        "y": 160,
        "wires": []
    },
    {
        "id": "e363e654.912da",
        "type": "switch",
        "z": "8ccef780.43f758",
        "name": "Did it succeed?",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1060,
        "y": 320,
        "wires": [
            [
                "7a56184e.b87c38"
            ],
            [
                "147559d9.4ee146"
            ]
        ]
    },
    {
        "id": "95004328.0b7a68",
        "type": "subflow:8ccef780.43f758",
        "z": "b5898652.b556e",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "eea18d76.276768",
        "type": "exec",
        "z": "8ccef780.43f758",
        "command": "chmod u+x",
        "addpay": false,
        "append": "/home/pi/upgrade",
        "useSpawn": "false",
        "timer": "300",
        "oldrc": false,
        "name": "Make the script executable",
        "x": 980,
        "y": 180,
        "wires": [
            [],
            [],
            [
                "4cd04be6.53574c"
            ]
        ]
    },
    {
        "id": "eea5ae50.6df058",
        "type": "http response",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 1130,
        "y": 1400,
        "wires": []
    },
    {
        "id": "91050097.a7c1f8",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Add response headers",
        "func": "msg.headers = { \"Content-Security-Policy\": \"script-src 'self' 'unsafe-inline' 'unsafe-eval'\", \"Content-Type\": \"text/html\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 1400,
        "wires": [
            [
                "eea5ae50.6df058"
            ]
        ]
    },
    {
        "id": "5a531f35.04eb78",
        "type": "template",
        "z": "afe19cbf.f80a18",
        "name": "Format HTML page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n        <head>\n                <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\"> \n                <title>\n                        Advanced WiFi Configuration - box.local - Museum in a Box\n                </title>\n                <link rel=\"stylesheet\" type=\"text/css\" href=\"/box-style.css\"> \n        </head>\n        <body>\n                <div class=\"header\">\n                        <nav>\n                                <a href=\"/\"><img src=\"/mb-logo.png\" alt=\"Museum in a Box logo\" title=\"click to go home\"></a>\n                                <a href=\"/\">box.local</a>\n                                <a href=\"/prints\">Set up a collection</a>\n                        </nav>\n                        <h1>\n                                {{#box_settings.hardware_id}}\n                                {{box_settings.hardware_id}} \n                                {{/box_settings.hardware_id}}\n                                {{^box_settings.hardware_id}}\n                                unknown\n                                {{/box_settings.hardware_id}}\n                                / \n                                {{#box_settings.exterior}}\n                                {{box_settings.exterior}}\n                                {{/box_settings.exterior}}\n                                {{^box_settings.exterior}}\n                                unknown\n                                {{/box_settings.exterior}}\n                        </h1>\n                </div>\n                <p>\n                        Enter the details for your WiFi network below. If you're on a simple WiFi network, then use the\n                        <a href=\"http://box.local/\">\n                                basic WiFi setup page\n                        </a>\n                        instead.\n                </p>\n                <h2>\n                        I have an Enterprise WPA or 802.1x wifi network:\n                </h2>\n                <form action=\"/wifi\" method=\"POST\">\n                        <label for=\"ssid\">\n                                WiFi Network Name (SSID):\n                        </label>\n                        <input id=\"ssid\" type=\"text\" size=\"40\" name=\"ssid\"><br>\n                        <label for=\"userid\">\n                                Username:\n                        </label>\n                        <input id=\"userid\" type=\"text\" size=\"40\" name=\"userid\"><br>\n                        <label for=\"passwd\">\n                                Password:\n                        </label>\n                        <input id=\"passwd\" type=\"password\" size=\"40\" name=\"passwd\"><br> <input id=\"save\" type=\"submit\" name=\"Save\" value=\"Save\">\n                </form>\n                <h2>\n                        I have a wifi network with a hidden SSID:\n                </h2>\n                <form action=\"/wifi\" method=\"POST\">\n                        <label for=\"ssid\">\n                                WiFi Network Name (SSID):\n                        </label>\n                        <input id=\"ssid\" type=\"text\" size=\"40\" name=\"ssid\"><br> <input id=\"hidden\" type=\"hidden\" name=\"hidden\" value=\"true\">\n                        <label for=\"passwd\">\n                                Password:\n                        </label>\n                        <input id=\"passwd\" type=\"password\" size=\"40\" name=\"passwd\"><br> <input id=\"save\" type=\"submit\" name=\"Save\" value=\"Save\">\n                </form>\n        </body>\n</html>\n",
        "x": 680,
        "y": 1400,
        "wires": [
            [
                "91050097.a7c1f8"
            ]
        ]
    },
    {
        "id": "6036175b.f12918",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "802.1x WiFi config page",
        "url": "/wifi",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1400,
        "wires": [
            [
                "a3746f08.cb21d8"
            ]
        ]
    },
    {
        "id": "40b263d2.3fd47c",
        "type": "debug",
        "z": "afe19cbf.f80a18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1290,
        "y": 1520,
        "wires": []
    },
    {
        "id": "9c1db444.0c708",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "Save 802.1x WiFi config",
        "url": "/wifi",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1480,
        "wires": [
            [
                "40b263d2.3fd47c",
                "1a233311.add105",
                "a533449e.ac416"
            ]
        ]
    },
    {
        "id": "44be6096.0e933",
        "type": "template",
        "z": "afe19cbf.f80a18",
        "name": "Format HTML page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n        <head>\n                <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\"> \n                <title>\n                        Advanced WiFi Configuration - box.local - Museum in a Box\n                </title>\n                <link rel=\"stylesheet\" type=\"text/css\" href=\"/box-style.css\"> \n        </head>\n        <body>\n                <div class=\"header\">\n                        <nav>\n                                <a href=\"/\"><img src=\"/mb-logo.png\" alt=\"Museum in a Box logo\" title=\"click to go home\"></a>\n                                <a href=\"/\">box.local</a>\n                                <a href=\"/prints\">Set up a collection</a>\n                        </nav>\n                        <h1>\n                                {{#box_settings.hardware_id}}\n                                {{box_settings.hardware_id}} \n                                {{/box_settings.hardware_id}}\n                                {{^box_settings.hardware_id}}\n                                unknown\n                                {{/box_settings.hardware_id}}\n                                / \n                                {{#box_settings.exterior}}\n                                {{box_settings.exterior}}\n                                {{/box_settings.exterior}}\n                                {{^box_settings.exterior}}\n                                unknown\n                                {{/box_settings.exterior}}\n                        </h1>\n                </div>\n                <p>\n                        Enter the details for your WiFi network below. If you're on a simple WiFi network, then use the\n                        <a href=\"http://box.local/\">\n                                basic WiFi setup page\n                        </a>\n                        instead.\n                </p>\n                <h2>\n                        I have an Enterprise WPA or 802.1x wifi network:\n                </h2>\n                <form action=\"/wifi\" method=\"POST\">\n                        <label for=\"ssid\">\n                                WiFi Network Name (SSID):\n                        </label>\n                        <input id=\"ssid\" type=\"text\" size=\"40\" name=\"ssid\"><br>\n                        <label for=\"userid\">\n                                Username:\n                        </label>\n                        <input id=\"userid\" type=\"text\" size=\"40\" name=\"userid\"><br>\n                        <label for=\"passwd\">\n                                Password:\n                        </label>\n                        <input id=\"passwd\" type=\"password\" size=\"40\" name=\"passwd\"><br> <input id=\"save\" type=\"submit\" name=\"Save\" value=\"Save\">\n                </form>\n                <h2>\n                        I have a wifi network with a hidden SSID:\n                </h2>\n                <form action=\"/wifi\" method=\"POST\">\n                        <label for=\"ssid\">\n                                WiFi Network Name (SSID):\n                        </label>\n                        <input id=\"ssid\" type=\"text\" size=\"40\" name=\"ssid\"><br> <input id=\"hidden\" type=\"hidden\" name=\"hidden\" value=\"true\">\n                        <label for=\"passwd\">\n                                Password:\n                        </label>\n                        <input id=\"passwd\" type=\"password\" size=\"40\" name=\"passwd\"><br> <input id=\"save\" type=\"submit\" name=\"Save\" value=\"Save\">\n                </form>\n        </body>\n</html>\n",
        "x": 680,
        "y": 1480,
        "wires": [
            [
                "ce1483d1.eb04c8"
            ]
        ]
    },
    {
        "id": "ce1483d1.eb04c8",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Add response headers",
        "func": "msg.headers = { \"Content-Security-Policy\": \"script-src 'self' 'unsafe-inline' 'unsafe-eval'\", \"Content-Type\": \"text/html\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 1480,
        "wires": [
            [
                "5e74cc94.8b716c"
            ]
        ]
    },
    {
        "id": "5e74cc94.8b716c",
        "type": "http response",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 1130,
        "y": 1480,
        "wires": []
    },
    {
        "id": "59ff2d49.5cd364",
        "type": "template",
        "z": "afe19cbf.f80a18",
        "name": "Format 802.1x WiFi details file",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[connection]\nid={{payload.ssid}}\nuuid={{payload.uuid}}\ntype=wifi\npermissions=\n\n[wifi]\nmode=infrastructure\nssid={{payload.ssid}}\n\n[wifi-security]\nkey-mgmt=wpa-eap\n\n[802-1x]\neap=peap;\nidentity={{payload.userid}}\npassword={{payload.passwd}}\nphase2-auth=mschapv2\n\n[ipv4]\ndns-search=\nmethod=auto\n\n[ipv6]\naddr-gen-mode=stable-privacy\ndns-search=\nmethod=auto",
        "output": "str",
        "x": 690,
        "y": 1680,
        "wires": [
            [
                "3d72323a.cc8686",
                "6c606981.c3f6f"
            ]
        ]
    },
    {
        "id": "3d72323a.cc8686",
        "type": "file",
        "z": "afe19cbf.f80a18",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 930,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "1a233311.add105",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Set filename and UUID",
        "func": "// Generate a UUID\n// Derived from https://gist.github.com/jed/982883\n//var uuidv4 = ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c => (c^crypto.randomBytes(1)[0]&15>>c/4).toString(16));\nvar uuidv4 = ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c => (c^Math.random() * 16>>c/4).toString(16));\n\nmsg.filename = \"/etc/NetworkManager/system-connections/\"+msg.payload.ssid;\nmsg.payload.uuid = uuidv4;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1560,
        "wires": [
            [
                "40b263d2.3fd47c",
                "6b515da9.11889c"
            ]
        ]
    },
    {
        "id": "6c606981.c3f6f",
        "type": "delay",
        "z": "afe19cbf.f80a18",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 680,
        "y": 1740,
        "wires": [
            [
                "cffff891.416e1",
                "d2320293.7a53e"
            ]
        ]
    },
    {
        "id": "cffff891.416e1",
        "type": "change",
        "z": "afe19cbf.f80a18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "filename",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1740,
        "wires": [
            [
                "d34ff403.d22868"
            ]
        ]
    },
    {
        "id": "d34ff403.d22868",
        "type": "exec",
        "z": "afe19cbf.f80a18",
        "command": "chmod 600",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Set correct file permissions",
        "x": 1140,
        "y": 1740,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b73e48f0.cfa45",
        "type": "comment",
        "z": "afe19cbf.f80a18",
        "name": "Temporary 802.1x WiFi Config Opttion",
        "info": "",
        "x": 190,
        "y": 1340,
        "wires": []
    },
    {
        "id": "d2320293.7a53e",
        "type": "exec",
        "z": "afe19cbf.f80a18",
        "command": "killall configure-wifi",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Kill the normal configure Wifi script",
        "x": 940,
        "y": 1840,
        "wires": [
            [
                "b7ebbdd8.7d6708"
            ],
            [],
            []
        ]
    },
    {
        "id": "b7ebbdd8.7d6708",
        "type": "exec",
        "z": "afe19cbf.f80a18",
        "command": "killall wifi-connect",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "And the hotspot it created",
        "x": 910,
        "y": 1920,
        "wires": [
            [
                "75e2586a.ac7d58"
            ],
            [],
            []
        ]
    },
    {
        "id": "57de3ef9.abb5e8",
        "type": "delay",
        "z": "afe19cbf.f80a18",
        "name": "Give the Wifi time to find its feet",
        "pauseType": "delay",
        "timeout": "80",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 2040,
        "wires": [
            [
                "c32db8bc.c99ce"
            ]
        ]
    },
    {
        "id": "c32db8bc.c99ce",
        "type": "exec",
        "z": "afe19cbf.f80a18",
        "command": "(curl -I https://heart.museuminabox.org && /usr/bin/play /home/pi/miab/audio/WiFi_works.wav) || /usr/bin/play /home/pi/miab/audio/WiFi_failed.wav",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "See if we can see the Internet",
        "x": 930,
        "y": 2100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "75e2586a.ac7d58",
        "type": "exec",
        "z": "afe19cbf.f80a18",
        "command": "nmcli connection reload",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Tell NetworkManager to reload its config",
        "x": 960,
        "y": 1980,
        "wires": [
            [
                "57de3ef9.abb5e8"
            ],
            [],
            []
        ]
    },
    {
        "id": "e5e9e057.87eaf",
        "type": "template",
        "z": "afe19cbf.f80a18",
        "name": "Format WiFi details file",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[connection]\nid={{payload.ssid}}\nuuid={{payload.uuid}}\ntype=wifi\nautoconnect=true\npermissions=\n\n[wifi]\nhidden=true\nmode=infrastructure\nssid={{payload.ssid}}\n\n{{#payload.passwd}}\n[wifi-security]\nkey-mgmt=wpa-psk\nauth-alg=open\npsk={{payload.passwd}}\n{{/payload.passwd}}\n\n[ipv4]\nmethod=auto\n\n[ipv6]\nmethod=auto",
        "output": "str",
        "x": 710,
        "y": 1620,
        "wires": [
            [
                "6c606981.c3f6f",
                "3d72323a.cc8686"
            ]
        ]
    },
    {
        "id": "6b515da9.11889c",
        "type": "switch",
        "z": "afe19cbf.f80a18",
        "name": "802.1x or hidden SSID?",
        "property": "payload.hidden",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 1660,
        "wires": [
            [
                "e5e9e057.87eaf"
            ],
            [
                "59ff2d49.5cd364"
            ]
        ]
    },
    {
        "id": "82266f95.fab95",
        "type": "subflow:3e6589d1.eeda5e",
        "z": "2c85e1fd.fde9ae",
        "x": 890,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "f77c3880.8a7d78",
        "type": "file",
        "z": "3e6589d1.eeda5e",
        "name": "Save the URLs in a file to pass to wget",
        "filename": "/tmp/miab-content",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 640,
        "y": 240,
        "wires": [
            [
                "761e4520.6ac67c"
            ]
        ]
    },
    {
        "id": "9da8694e.88f39",
        "type": "subflow:3e6589d1.eeda5e",
        "z": "afe19cbf.f80a18",
        "name": "Kick off a sync of any content too",
        "x": 400,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "75886184.68af8",
        "type": "trigger",
        "z": "2c85e1fd.fde9ae",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-23",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "Then periodically...",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "82266f95.fab95"
            ]
        ]
    },
    {
        "id": "7c2d8340.034f84",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "",
        "url": "/update-content",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "65597c0e.c88bcc"
            ]
        ]
    },
    {
        "id": "480245cd.b20b9c",
        "type": "subflow:3e6589d1.eeda5e",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 190,
        "y": 900,
        "wires": [
            [
                "7e8859e4.d6883"
            ]
        ]
    },
    {
        "id": "209d5288.1deb3e",
        "type": "http response",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 1330,
        "y": 900,
        "wires": []
    },
    {
        "id": "7e8859e4.d6883",
        "type": "switch",
        "z": "afe19cbf.f80a18",
        "name": "Check if the download succeeded",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 900,
        "wires": [
            [
                "3a0aae0f.b0e062"
            ],
            [
                "f3bc3ce1.69a8a"
            ]
        ]
    },
    {
        "id": "3a0aae0f.b0e062",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "All ok!",
        "func": "msg.payload = \"Print audio downloaded okay\";\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 880,
        "wires": [
            [
                "bb6cc0cb.b5f778",
                "52dff96c.f16c88"
            ]
        ]
    },
    {
        "id": "f3bc3ce1.69a8a",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Something went wrong",
        "func": "msg.payload = \"Problem with download.  Failed with code \"+msg.payload.code;\nmsg.statusCode = 500;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 920,
        "wires": [
            [
                "bb6cc0cb.b5f778",
                "52dff96c.f16c88"
            ]
        ]
    },
    {
        "id": "bb6cc0cb.b5f778",
        "type": "debug",
        "z": "afe19cbf.f80a18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1010,
        "y": 960,
        "wires": []
    },
    {
        "id": "65597c0e.c88bcc",
        "type": "change",
        "z": "afe19cbf.f80a18",
        "name": "Save the response for later in the flow",
        "rules": [
            {
                "t": "set",
                "p": "update_response",
                "pt": "flow",
                "to": "res",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 820,
        "wires": [
            [
                "480245cd.b20b9c"
            ]
        ]
    },
    {
        "id": "52dff96c.f16c88",
        "type": "change",
        "z": "afe19cbf.f80a18",
        "name": "Retrieve the response we saved earlier",
        "rules": [
            {
                "t": "set",
                "p": "res",
                "pt": "msg",
                "to": "update_response",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 900,
        "wires": [
            [
                "209d5288.1deb3e"
            ]
        ]
    },
    {
        "id": "c502035.e14b98",
        "type": "rpi-rc522-rfid in",
        "z": "b5898652.b556e",
        "name": "RFID present?",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "b170be0.3c60e4"
            ]
        ]
    },
    {
        "id": "3d109ded.41f7ba",
        "type": "rpi-rc522-rfid read-ndef",
        "z": "b5898652.b556e",
        "name": "Read first NDEF text record",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "dcf63ff6.45e4c8",
                "f536fa11.eebb68"
            ]
        ]
    },
    {
        "id": "22ea60b7.c45d48",
        "type": "rpi-rc522-rfid write-ndef",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 610,
        "y": 1100,
        "wires": [
            [
                "791150d5.04aae",
                "9e2b57dc.b17448",
                "9633e75c.945018"
            ]
        ]
    },
    {
        "id": "1b93fc30.0fbe74",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Group prints by collection",
        "func": "// Group the prints by collection\nvar collections = {};\nfor (var i = 0; i < msg.payload.prints.length; i++)\n{\n    var obj = msg.payload.prints[i];\n    if (collections[obj.collection_id] === undefined) {\n        collections[obj.collection_id] = { name: obj.collection_name, prints: [] };\n    }\n    collections[obj.collection_id].prints.push(obj);\n}\n// Now we've got all the prints grouped by collection, flatten the collections into\n// an array because that's all that mustache (the template for formatting) can handle\nmsg.collections = [];\nfor (const key of Object.keys(collections)) {\n    msg.collections.push(collections[key]);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 680,
        "wires": [
            [
                "45f2b710.48f8e8"
            ]
        ]
    },
    {
        "id": "93196eb.4eea41",
        "type": "http response",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "bac2cf2e.72a14",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Add response headers",
        "func": "msg.headers = { \"Content-Type\": \"text/html\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 140,
        "wires": [
            [
                "93196eb.4eea41"
            ]
        ]
    },
    {
        "id": "481455df.6f6ac4",
        "type": "template",
        "z": "afe19cbf.f80a18",
        "name": "Format HTML page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n        <head>\n                <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\"> \n                <title>\n                         box.local - Museum in a Box\n                </title>\n                <link rel=\"stylesheet\" type=\"text/css\" href=\"/box-style.css\"> \n        </head>\n        <body>\n                <div class=\"header\">\n                        <nav>\n                                <a href=\"/\"><img src=\"/mb-logo.png\" alt=\"Museum in a Box logo\" title=\"click to go home\"></a>\n                                <a href=\"/\">box.local</a>\n                                <a href=\"/prints\">Set up a collection</a>\n                        </nav>\n                </div>\n\n                <h1>\n                        Welcome to your Museum in a Box!\n                </h1>\n\n                <h2>Your Box Stats</h2>\n\n                <ul>\n                        <li>\n                        {{#box_settings.exterior}}\n                            It's made of {{box_settings.exterior}}\n                        {{/box_settings.exterior}}\n                        {{^box_settings.exterior}}\n                            Its exterior is not yet known\n                        {{/box_settings.exterior}}\n                        </li>\n                        <li>Hardware ID: \n                            {{#box_settings.hardware_id}}\n                            {{box_settings.hardware_id}}\n                            {{/box_settings.hardware_id}}\n                            {{^box_settings.hardware_id}}\n                            unknown\n                            {{/box_settings.hardware_id}}\n                        </li>\n                        <li>UUID: <code>\n                            {{#box_settings.id}}\n                            {{box_settings.id}}\n                            {{/box_settings.id}}\n                            {{^box_settings.id}}\n                            unknown\n                            {{/box_settings.id}}\n                        </code></li>\n                </ul>\n\n                <h3>\n                        WiFi Trouble?\n                </h3>\n                <p>\n                        Try the <a href=\"/wifi\">advanced wifi configurator</a>.\n                </p>\n        </body>\n</html>\n",
        "x": 520,
        "y": 140,
        "wires": [
            [
                "bac2cf2e.72a14"
            ]
        ]
    },
    {
        "id": "e4735bdc.9b824",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Add box ID details",
        "func": "// Store box details to display later too\nmsg.box_settings = context.global.box_settings;\nif (context.global.box_settings) {\n    msg.payload = \"This box has an ID of \"+\n    context.global.box_settings.id+\", with a hardware ID of \"+\n    context.global.box_settings.hardware_id+\".\";\n} else {\n    msg.payload = \"This box has not yet been configured.  Check out <a href='/setup'>/setup</a> or <a href='/upgrade'>/upgrade</a>.\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 140,
        "wires": [
            [
                "481455df.6f6ac4"
            ]
        ]
    },
    {
        "id": "e9f9d9e8.88fdf",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "Homepage",
        "url": "/",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 74,
        "y": 141,
        "wires": [
            [
                "e4735bdc.9b824"
            ]
        ]
    },
    {
        "id": "5ac2bc3e.9b6d9c",
        "type": "delay",
        "z": "b5898652.b556e",
        "name": "Pause briefly between \"ready\" and object audio",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 920,
        "y": 400,
        "wires": [
            [
                "3d109ded.41f7ba"
            ]
        ]
    },
    {
        "id": "a3746f08.cb21d8",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Get box detaiils",
        "func": "// Store box details to display later too\nmsg.box_settings = context.global.box_settings;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1400,
        "wires": [
            [
                "5a531f35.04eb78"
            ]
        ]
    },
    {
        "id": "a533449e.ac416",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Get box detaiils",
        "func": "// Store box details to display later too\nmsg.box_settings = context.global.box_settings;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1480,
        "wires": [
            [
                "44be6096.0e933"
            ]
        ]
    },
    {
        "id": "44ad67f.6239018",
        "type": "exec",
        "z": "2c85e1fd.fde9ae",
        "command": "ip",
        "addpay": false,
        "append": "link show wlan0 | grep link",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Work out our WiFi MAC address",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "8e98fdb5.ef8018"
            ],
            [],
            []
        ]
    },
    {
        "id": "8e98fdb5.ef8018",
        "type": "function",
        "z": "2c85e1fd.fde9ae",
        "name": "Extract the relevant part",
        "func": "var addr = msg.payload.trim().split(\" \")[1];\nif (addr === undefined) {\n    // In case we're on a box with no WiFi (or the WiFi doesn't get parsed correctly)\n    addr = \"\";\n}\ncontext.global.mac_addr = addr;\nmsg.payload = addr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "75886184.68af8"
            ]
        ]
    },
    {
        "id": "33040026.c38fe",
        "type": "exec",
        "z": "afe19cbf.f80a18",
        "command": "play",
        "addpay": false,
        "append": "/home/pi/miab/sticker-write-error.wav",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Tell the user there was a problem too",
        "x": 690,
        "y": 1300,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "9633e75c.945018",
        "type": "exec",
        "z": "afe19cbf.f80a18",
        "command": "play",
        "addpay": false,
        "append": "/home/pi/miab/sticker-written.wav",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Tell the user we succeeded",
        "x": 920,
        "y": 1120,
        "wires": [
            [],
            [],
            []
        ]
    }
]