node-red-config/flows_brain.json
[{"id":"b5898652.b556e","type":"tab","label":"Sheet 1"},{"id":"e8d65b2b.201058","type":"subflow","name":"Subflow 1","in":[{"x":62,"y":54,"wires":[{"id":"b3d2ad66.618708"}]}],"out":[]},{"id":"55fd9d30.dec324","type":"subflow","name":"Play audio content","in":[{"x":70,"y":70,"wires":[{"id":"dee7273e.9b682"}]}],"out":[{"x":625,"y":66,"wires":[{"id":"d4df4b9b.eb9988","port":0},{"id":"d4df4b9b.eb9988","port":1},{"id":"d4df4b9b.eb9988","port":2}]}]},{"id":"5c28a716.bf8fd","type":"subflow","name":"Play video content","in":[{"x":70,"y":70,"wires":[{"id":"43c08c0.8d92d74"}]}],"out":[{"x":599,"y":69,"wires":[{"id":"992e8053.3f034","port":0},{"id":"992e8053.3f034","port":1},{"id":"992e8053.3f034","port":2}]}]},{"id":"afe19cbf.f80a18","type":"subflow","name":"Box setup web UI","in":[],"out":[]},{"id":"2c85e1fd.fde9ae","type":"subflow","name":"Load settings","in":[{"x":76,"y":71,"wires":[{"id":"72069fd0.ea825"}]}],"out":[{"x":722.5,"y":69,"wires":[{"id":"8165cef1.12886","port":0}]}]},{"id":"e75d45d3.2600d8","type":"debug","z":"e8d65b2b.201058","name":"","active":true,"console":"false","complete":"false","x":680,"y":135,"wires":[]},{"id":"2140470b.9fc3a8","type":"http request","z":"e8d65b2b.201058","name":"","method":"POST","ret":"txt","url":"https://museuminabox.herokuapp.com/boops","x":427,"y":55,"wires":[["e75d45d3.2600d8"]]},{"id":"b3d2ad66.618708","type":"function","z":"e8d65b2b.201058","name":"Build JSON for request","func":"var old_payload = msg.payload;\nmsg.payload = { \"created_at\": new Date().toJSON(), \"box_id\": context.global.box_settings.id, \"print_id\": old_payload.id };\nheaders = { \"Content-Type\": \"application/json\" };\nreturn msg;","outputs":1,"noerr":0,"x":207,"y":54,"wires":[["2140470b.9fc3a8","e75d45d3.2600d8","63ecce13.be265"]]},{"id":"63ecce13.be265","type":"csv","z":"e8d65b2b.201058","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"created_at,box_id,print_id","x":405,"y":192,"wires":[["64ebaf01.219d"]]},{"id":"64ebaf01.219d","type":"file","z":"e8d65b2b.201058","name":"","filename":"/home/pi/miab/boops_log.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","x":609,"y":192,"wires":[]},{"id":"3b6d686d.3eb03","type":"exec","z":"b5898652.b556e","command":"killall aplay","addpay":false,"append":"","useSpawn":"","name":"","x":510,"y":501,"wires":[["f536fa11.eebb68"],["f536fa11.eebb68"],["f536fa11.eebb68"]]},{"id":"f536fa11.eebb68","type":"debug","z":"b5898652.b556e","name":"","active":true,"console":"false","complete":"false","x":842,"y":435,"wires":[]},{"id":"b170be0.3c60e4","type":"switch","z":"b5898652.b556e","name":"presented or removed?","property":"payload","rules":[{"t":"eq","v":"0"},{"t":"eq","v":"1"}],"checkall":"true","outputs":2,"x":291,"y":70,"wires":[["4de42538.df29cc"],["3b6d686d.3eb03","d83df818.cb6798"]]},{"id":"dcf63ff6.45e4c8","type":"json","z":"b5898652.b556e","name":"Convert to JSON","x":562,"y":241,"wires":[["f536fa11.eebb68","b3b74b81.42e778","86e53e15.85eb1"]]},{"id":"d2edde8.81a162","type":"comment","z":"b5898652.b556e","name":"Main Brain operation","info":"","x":104,"y":29,"wires":[]},{"id":"b3b74b81.42e778","type":"subflow:e8d65b2b.201058","z":"b5898652.b556e","name":"Record Boop","x":848.5,"y":214.5,"wires":[]},{"id":"86e53e15.85eb1","type":"function","z":"b5898652.b556e","name":"Are we an audio or video box?","func":"if (context.global.box_settings.brain_type == \"audio\")\n{\n    return [msg, null];\n}\nelse\n{\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":493,"y":299,"wires":[["192c08af.101cb7"],["ff31c654.b55628","1e1374e5.b0e403"]]},{"id":"dee7273e.9b682","type":"template","z":"55fd9d30.dec324","name":"Map to audio filename","field":"payload","format":"handlebars","template":"/home/pi/miab/audio/{{payload.audio}}","x":242,"y":68,"wires":[["d4df4b9b.eb9988"]]},{"id":"d4df4b9b.eb9988","type":"exec","z":"55fd9d30.dec324","command":"aplay","addpay":true,"append":"","useSpawn":"","name":"Play audio","x":450,"y":67,"wires":[[],[],[]]},{"id":"192c08af.101cb7","type":"subflow:55fd9d30.dec324","z":"b5898652.b556e","x":743,"y":289,"wires":[["f536fa11.eebb68"]]},{"id":"992e8053.3f034","type":"exec","z":"5c28a716.bf8fd","command":"omxplayer","addpay":true,"append":"","useSpawn":"","name":"Play video","x":440,"y":68,"wires":[[],[],[]]},{"id":"43c08c0.8d92d74","type":"template","z":"5c28a716.bf8fd","name":"Map to video filename","field":"payload","format":"handlebars","template":"/home/pi/miab/video/{{payload.video}}","x":232,"y":69,"wires":[["992e8053.3f034"]]},{"id":"ff31c654.b55628","type":"subflow:5c28a716.bf8fd","z":"b5898652.b556e","x":694,"y":358,"wires":[["f536fa11.eebb68"]]},{"id":"d83df818.cb6798","type":"exec","z":"b5898652.b556e","command":"killall omxplayer","addpay":false,"append":"","useSpawn":"","name":"","x":526,"y":441,"wires":[["f536fa11.eebb68"],["f536fa11.eebb68"],["f536fa11.eebb68"]]},{"id":"72069fd0.ea825","type":"file in","z":"2c85e1fd.fde9ae","name":"Read in our settings","filename":"/home/pi/miab/box-config.json","format":"utf8","x":230,"y":70,"wires":[["5dc010f1.5ecf08"]]},{"id":"14b3f31c.f2289d","type":"inject","z":"b5898652.b556e","name":"Run at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":132,"y":567,"wires":[["a9a1a5d6.e1f4a8"]]},{"id":"8165cef1.12886","type":"function","z":"2c85e1fd.fde9ae","name":"Apply settings","func":"context.global.box_settings = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":606,"y":69,"wires":[["6c987ced.c3ae94"]]},{"id":"7866ff92.1495d8","type":"debug","z":"b5898652.b556e","name":"","active":true,"console":"false","complete":"false","x":505,"y":568,"wires":[]},{"id":"fb9cae82.28853","type":"http in","z":"afe19cbf.f80a18","name":"Initial setup page","url":"/setup","method":"get","swaggerDoc":"","x":94,"y":61,"wires":[["2cd9b4c9.2eaed4"]]},{"id":"d27d7e46.05eca","type":"http response","z":"afe19cbf.f80a18","name":"","x":852,"y":131,"wires":[]},{"id":"2cd9b4c9.2eaed4","type":"http request","z":"afe19cbf.f80a18","name":"Get the list of available boxes","method":"GET","ret":"obj","url":"http://museuminabox.herokuapp.com/boxes.json","x":321,"y":61,"wires":[["16dd1e16.1b381a"]]},{"id":"16dd1e16.1b381a","type":"template","z":"afe19cbf.f80a18","name":"Format HTML page","field":"payload","format":"handlebars","template":"<html>\n    <head>\n        <title>Configure this brain</title>\n    </head>\n    <body>\n        <h1>Configure this brain</h1>\n        <p></p>\n        <form method=\"POST\">\n            <label for=\"box_id\">Choose box:</label>\n            <select name=\"box_id\">\n            {{#payload}}\n                <option name=\"{{name}}\" value=\"{{id}}\">{{name}}</option>\n            {{/payload}}\n            </select>\n            <input type=\"submit\" value=\"Save\">\n        </form>\n    </body>\n</html>","x":561,"y":60,"wires":[["cba35524.5963a"]]},{"id":"cb1fd3a7.797f2","type":"subflow:afe19cbf.f80a18","z":"b5898652.b556e","x":115,"y":754,"wires":[]},{"id":"cba35524.5963a","type":"function","z":"afe19cbf.f80a18","name":"Add response headers","func":"msg.headers = { \"Content-Type\": \"text/html\" };\nreturn msg;","outputs":1,"noerr":0,"x":783,"y":60,"wires":[["d27d7e46.05eca"]]},{"id":"fc69fabb.40b08","type":"http response","z":"afe19cbf.f80a18","name":"","x":978,"y":322,"wires":[]},{"id":"82a8817d.9420a","type":"http in","z":"afe19cbf.f80a18","name":"Handle setup form submission","url":"/setup","method":"post","swaggerDoc":"","x":137,"y":205,"wires":[["7a5faf27.1b8938"]]},{"id":"9aac6c5b.b061c","type":"function","z":"afe19cbf.f80a18","name":"Redirect to /prints if successful","func":"if (msg.statusCode == \"200\")\n{\n    // We successfully downloaded the config\n    // so redirect to the /prints page\n    msg.headers = { \"Location\": \"/prints\" };\n    msg.statusCode = 302;\n}\n// else something went wrong, pass on the error page\nreturn msg;","outputs":"1","noerr":0,"x":635,"y":277,"wires":[["409166bb.b2bf68"]]},{"id":"7a5faf27.1b8938","type":"http request","z":"afe19cbf.f80a18","name":"Get the chosen box details","method":"GET","ret":"obj","url":"http://museuminabox.herokuapp.com/boxes/{{payload.box_id}}.json","x":411,"y":205,"wires":[["9aac6c5b.b061c","6d76d26f.1e1a44","51567b84.e638b4"]]},{"id":"6d76d26f.1e1a44","type":"file","z":"afe19cbf.f80a18","name":"Save the settings","filename":"/home/pi/miab/box-config.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":694,"y":190,"wires":[]},{"id":"a9a1a5d6.e1f4a8","type":"subflow:2c85e1fd.fde9ae","z":"b5898652.b556e","x":308,"y":567.5,"wires":[["7866ff92.1495d8","50e784a7.b2a4b4","50c51caf.62ed44"]]},{"id":"51567b84.e638b4","type":"delay","z":"afe19cbf.f80a18","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":649,"y":233,"wires":[["58f4c569.64f99c"]]},{"id":"58f4c569.64f99c","type":"subflow:2c85e1fd.fde9ae","z":"afe19cbf.f80a18","x":814,"y":232,"wires":[[]]},{"id":"882059fa.c9f278","type":"http in","z":"afe19cbf.f80a18","name":"","url":"/prints","method":"get","swaggerDoc":"","x":88,"y":377,"wires":[["7a0c0b65.061d24"]]},{"id":"c9624786.2ff3e","type":"http response","z":"afe19cbf.f80a18","name":"","x":855,"y":485,"wires":[]},{"id":"6ce2c335.50aee4","type":"http request","z":"afe19cbf.f80a18","name":"Download prints list for this box","method":"GET","ret":"obj","url":"","x":433,"y":376,"wires":[["45f2b710.48f8e8"]]},{"id":"7a0c0b65.061d24","type":"function","z":"afe19cbf.f80a18","name":"Build URL","func":"msg.url = \"http://museuminabox.herokuapp.com/boxes/\"+context.global.box_settings.id+\"/list.json\";\nmsg.method = \"GET\";\nreturn msg;","outputs":1,"noerr":0,"x":224,"y":376,"wires":[["6ce2c335.50aee4"]]},{"id":"45f2b710.48f8e8","type":"template","z":"afe19cbf.f80a18","name":"Format HTML page","field":"payload","format":"handlebars","template":"<html>\n    <head>\n        <title>Write Print Tags</title>\n        <style type=\"text/css\">\n            li img { width: 10%; }\n        </style>\n    </head>\n    <body>\n        <h1>Write Print Tags</h1>\n        <p>Place a print onto the brain, then click the \"Write tag\" button to write the tag.</p>\n        <ul>\n        {{#payload}}\n            <li><img src=\"{{{image_url}}}\"> {{name}}\n                <form action=\"/tag\" method=\"post\" id=\"tag{{id}}\">\n                    <input type=\"hidden\" name=\"url\" value=\"{{url}}\" />\n                    <input type=\"hidden\" name=\"id\" value=\"{{id}}\" />\n                    <input type=\"hidden\" name=\"audio\" value=\"{{brain_filename_audio}}\" />\n                    <input type=\"hidden\" name=\"video\" value=\"{{brain_filename_video}}\" />\n                    <input type=\"submit\" name=\"write\" value=\"Write tag\" onclick=\"$('#msg{{id}}').text('Working...'); $.post('/tag', $('#tag{{id}}').serialize()) .done(function() { $('#msg{{id}}').text('Ok') }) .fail(function() { $('#msg{{id}}').text('Failed') }); return false;\" />\n                    <span id=\"msg{{id}}\"></span>\n                </form>\n            </li>\n        {{/payload}}\n        </ul>\n    </body>\n    <script src=\"vendor/vendor.js\"></script>\n</html>\n","x":674,"y":376,"wires":[["94182766.541e68"]]},{"id":"94182766.541e68","type":"function","z":"afe19cbf.f80a18","name":"Add response headers","func":"msg.headers = { \"Content-Type\": \"text/html\" };\nreturn msg;","outputs":1,"noerr":0,"x":762,"y":433,"wires":[["c9624786.2ff3e"]]},{"id":"5dc010f1.5ecf08","type":"json","z":"2c85e1fd.fde9ae","name":"","x":424,"y":69,"wires":[["8165cef1.12886"]]},{"id":"86b5d39d.f8eb3","type":"inject","z":"afe19cbf.f80a18","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131,"y":590,"wires":[["b75c4abb.8231b8"]]},{"id":"b75c4abb.8231b8","type":"function","z":"afe19cbf.f80a18","name":"Generate test NDEF records","func":"msg.payload = [];\nmsg.payload.push({\"type\":\"Sp\", \"value\":\"http://mcqn.com/ibal151/\"});\nmsg.payload.push({\"type\":\"T\", \"value\":\"{\\\"name\\\":\\\"Bust of Violette Szabo\\\",\\\"audio\\\":\\\"violette.wav\\\",\\\"video\\\":\\\"violette.mp4\\\"}\"});\n\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":590,"wires":[["9e2b57dc.b17448","1aebf3aa.c444f4"]]},{"id":"1aebf3aa.c444f4","type":"rpi-rfid write-ndef","z":"afe19cbf.f80a18","name":"","x":574,"y":612,"wires":[["9e2b57dc.b17448","791150d5.04aae"]]},{"id":"9e2b57dc.b17448","type":"debug","z":"afe19cbf.f80a18","name":"","active":true,"console":"false","complete":"false","x":771,"y":590,"wires":[]},{"id":"2dcc27fb.0bc0b8","type":"http in","z":"afe19cbf.f80a18","name":"","url":"/tag","method":"get","swaggerDoc":"","x":97,"y":683,"wires":[["791150d5.04aae"]]},{"id":"791150d5.04aae","type":"file in","z":"afe19cbf.f80a18","name":"","filename":"/home/pi/miab/tag.html","format":"utf8","x":632,"y":683,"wires":[["507e8db4.8a3d1c"]]},{"id":"507e8db4.8a3d1c","type":"http response","z":"afe19cbf.f80a18","name":"","x":806,"y":683,"wires":[]},{"id":"7fa143e2.188d1c","type":"http in","z":"afe19cbf.f80a18","name":"","url":"/tag","method":"post","swaggerDoc":"","x":98,"y":639,"wires":[["849337da.209338"]]},{"id":"849337da.209338","type":"function","z":"afe19cbf.f80a18","name":"Convert form fields into NDEF records","func":"var url = { \"type\":\"Sp\", \"value\": msg.payload.url };\nmsg.payload.url = undefined;\nmsg.payload.write = undefined;\nvar text = { \"type\":\"T\", \"value\": JSON.stringify(msg.payload) };\nmsg.payload = [url, text];\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":639,"wires":[["1aebf3aa.c444f4"]]},{"id":"fd7a86ac.3abd9","type":"comment","z":"afe19cbf.f80a18","name":"Write RFID tags","info":"","x":118,"y":542,"wires":[]},{"id":"6c987ced.c3ae94","type":"function","z":"2c85e1fd.fde9ae","name":"Build URL","func":"msg.url = \"http://museuminabox.herokuapp.com/boxes/\"+context.global.box_settings.id+\"/list.json\";\nmsg.method = \"GET\";\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":159,"wires":[["6d4612aa.78327c"]]},{"id":"6d4612aa.78327c","type":"http request","z":"2c85e1fd.fde9ae","name":"Download prints list for this box","method":"GET","ret":"obj","url":"","x":673,"y":159,"wires":[["64a9e9cf.fa413"]]},{"id":"27712e00.0d3722","type":"function","z":"2c85e1fd.fde9ae","name":"Extract the audio content URLs","func":"var urls = [];\nfor (i=0; i < msg.payload.length; i++)\n{\n    urls.push({ topic:\"url\", payload:msg.payload[i].brain_url_audio });\n}\nreturn [urls];","outputs":1,"noerr":0,"x":474,"y":243,"wires":[["761e4520.6ac67c"]]},{"id":"761e4520.6ac67c","type":"exec","z":"2c85e1fd.fde9ae","command":"wget","addpay":true,"append":"--timestamping --no-verbose --directory-prefix=/home/pi/miab/audio","useSpawn":"","name":"Download media files","x":721,"y":242,"wires":[["e27f63df.ebfb4"],["e27f63df.ebfb4"],["e27f63df.ebfb4"]]},{"id":"64a9e9cf.fa413","type":"function","z":"2c85e1fd.fde9ae","name":"Are we an audio or video box?","func":"if (context.global.box_settings.brain_type == \"audio\")\n{\n    return [msg, null];\n}\nelse\n{\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":181,"y":258,"wires":[["27712e00.0d3722"],["7a92a7ce.b55c08"]]},{"id":"7a92a7ce.b55c08","type":"function","z":"2c85e1fd.fde9ae","name":"Extract the video content URLs","func":"var urls = [];\nfor (i=0; i < msg.payload.length; i++)\n{\n    urls.push({ topic:\"url\", payload:msg.payload[i].brain_url_video });\n}\nreturn [urls];","outputs":1,"noerr":0,"x":472,"y":312,"wires":[["bb6bfc22.de492"]]},{"id":"bb6bfc22.de492","type":"exec","z":"2c85e1fd.fde9ae","command":"wget","addpay":true,"append":"--timestamping --no-verbose --directory-prefix=/home/pi/miab/video","useSpawn":"","name":"Download media files","x":721,"y":310,"wires":[[],[],[]]},{"id":"1e1374e5.b0e403","type":"exec","z":"b5898652.b556e","command":"aplay","addpay":false,"append":"/home/pi/miab/boop.wav","useSpawn":"","name":"Play boop audio","x":927.9440307617188,"y":365.0904846191406,"wires":[[],[],[]]},{"id":"eaab59eb.e8618","type":"rpi-gpio in","z":"b5898652.b556e","name":"RFID present?","pin":"7","intype":"in","read":false,"x":84.5,"y":70,"wires":[["b170be0.3c60e4"]]},{"id":"50e784a7.b2a4b4","type":"exec","z":"b5898652.b556e","command":"aplay","addpay":false,"append":"/home/pi/miab/ready.wav","useSpawn":"","name":"We're ready now!","x":514,"y":615,"wires":[[],[],[]]},{"id":"4de42538.df29cc","type":"exec","z":"b5898652.b556e","command":"/home/pi/miab/get_first_ndef_text_record","addpay":false,"append":"","useSpawn":"","timer":"","name":"Read first text NDEF record","x":578,"y":109,"wires":[["dcf63ff6.45e4c8"],[],[]]},{"id":"50c51caf.62ed44","type":"template","z":"b5898652.b556e","name":"Output an \"on\" signal","field":"payload","format":"handlebars","template":"1","x":523,"y":670,"wires":[["9f3230dc.005a2"]]},{"id":"9f3230dc.005a2","type":"rpi-gpio out","z":"b5898652.b556e","name":"Green \"ready\" LED","pin":"18","set":true,"level":"0","out":"out","x":725,"y":670,"wires":[]},{"id":"409166bb.b2bf68","type":"delay","z":"afe19cbf.f80a18","name":"but give the settings some time to be loaded","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":733,"y":322,"wires":[["fc69fabb.40b08"]]},{"id":"e27f63df.ebfb4","type":"debug","z":"2c85e1fd.fde9ae","name":"","active":true,"console":"false","complete":"false","x":696,"y":384,"wires":[]}]