node-red-config/flows_brain.json
[
    {
        "id": "b5898652.b556e",
        "type": "tab",
        "label": "Sheet 1"
    },
    {
        "id": "e8d65b2b.201058",
        "type": "subflow",
        "name": "Record boop",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "b3d2ad66.618708"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "55fd9d30.dec324",
        "type": "subflow",
        "name": "Play audio content",
        "in": [
            {
                "x": 70,
                "y": 70,
                "wires": [
                    {
                        "id": "dee7273e.9b682"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 625,
                "y": 66,
                "wires": [
                    {
                        "id": "d4df4b9b.eb9988",
                        "port": 0
                    },
                    {
                        "id": "d4df4b9b.eb9988",
                        "port": 1
                    },
                    {
                        "id": "d4df4b9b.eb9988",
                        "port": 2
                    }
                ]
            }
        ]
    },
    {
        "id": "afe19cbf.f80a18",
        "type": "subflow",
        "name": "Box setup web UI",
        "in": [],
        "out": []
    },
    {
        "id": "2c85e1fd.fde9ae",
        "type": "subflow",
        "name": "Load settings",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "db927f2e.1204d8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 770,
                "y": 90,
                "wires": [
                    {
                        "id": "8165cef1.12886",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "c4a92f1b.12287",
        "type": "subflow",
        "name": "Record boop end",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "8267637c.60b6d"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "e75d45d3.2600d8",
        "type": "debug",
        "z": "e8d65b2b.201058",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "2140470b.9fc3a8",
        "type": "http request",
        "z": "e8d65b2b.201058",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "https://heart.museuminabox.org/api/boopstart",
        "tls": "",
        "x": 430,
        "y": 60,
        "wires": [
            [
                "e75d45d3.2600d8",
                "e40cb3f0.0a948"
            ]
        ]
    },
    {
        "id": "b3d2ad66.618708",
        "type": "function",
        "z": "e8d65b2b.201058",
        "name": "Build JSON for request",
        "func": "// Store which print we're booping, so we've got it\n// to hand for the CSV file when the boop ends\ncontext.global.current_print_id = msg.payload.id;\nvar old_payload = msg.payload;\nmsg.payload = { \"created_at\": new Date().toJSON(), \"box_id\": context.global.box_settings.id, \"print_id\": old_payload.id };\nheaders = { \"Content-Type\": \"application/json\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 60,
        "wires": [
            [
                "2140470b.9fc3a8",
                "e75d45d3.2600d8",
                "4672f700.22b518"
            ]
        ]
    },
    {
        "id": "63ecce13.be265",
        "type": "csv",
        "z": "e8d65b2b.201058",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": false,
        "multi": "one",
        "ret": "\\n",
        "temp": "created_at,box_id,print_id",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "64ebaf01.219d"
            ]
        ]
    },
    {
        "id": "64ebaf01.219d",
        "type": "file",
        "z": "e8d65b2b.201058",
        "name": "",
        "filename": "/home/pi/miab/boops_log.csv",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "3b6d686d.3eb03",
        "type": "exec",
        "z": "b5898652.b556e",
        "command": "killall play",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "name": "",
        "x": 540,
        "y": 320,
        "wires": [
            [
                "f536fa11.eebb68"
            ],
            [
                "f536fa11.eebb68"
            ],
            [
                "f536fa11.eebb68"
            ]
        ]
    },
    {
        "id": "f536fa11.eebb68",
        "type": "debug",
        "z": "b5898652.b556e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "b170be0.3c60e4",
        "type": "switch",
        "z": "b5898652.b556e",
        "name": "presented or removed?",
        "property": "payload",
        "rules": [
            {
                "t": "eq",
                "v": "0"
            },
            {
                "t": "eq",
                "v": "1"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 291,
        "y": 70,
        "wires": [
            [
                "4de42538.df29cc"
            ],
            [
                "3b6d686d.3eb03",
                "cd38ed8b.96293"
            ]
        ]
    },
    {
        "id": "dcf63ff6.45e4c8",
        "type": "json",
        "z": "b5898652.b556e",
        "name": "Convert to JSON",
        "x": 570,
        "y": 120,
        "wires": [
            [
                "f6d5f2f9.3bbaf"
            ]
        ]
    },
    {
        "id": "d2edde8.81a162",
        "type": "comment",
        "z": "b5898652.b556e",
        "name": "Main Brain operation",
        "info": "",
        "x": 104,
        "y": 29,
        "wires": []
    },
    {
        "id": "b3b74b81.42e778",
        "type": "subflow:e8d65b2b.201058",
        "z": "b5898652.b556e",
        "name": "Record Boop",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "dee7273e.9b682",
        "type": "template",
        "z": "55fd9d30.dec324",
        "name": "Map to audio filename",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/home/pi/miab/audio/{{payload.audio}}",
        "x": 242,
        "y": 68,
        "wires": [
            [
                "d4df4b9b.eb9988"
            ]
        ]
    },
    {
        "id": "d4df4b9b.eb9988",
        "type": "exec",
        "z": "55fd9d30.dec324",
        "command": "play",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "name": "Play audio",
        "x": 450,
        "y": 67,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "192c08af.101cb7",
        "type": "subflow:55fd9d30.dec324",
        "z": "b5898652.b556e",
        "x": 730,
        "y": 260,
        "wires": [
            [
                "f536fa11.eebb68"
            ]
        ]
    },
    {
        "id": "72069fd0.ea825",
        "type": "file in",
        "z": "2c85e1fd.fde9ae",
        "name": "Read in our settings",
        "filename": "/home/pi/miab/box-config.json",
        "format": "utf8",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "5dc010f1.5ecf08",
                "e27f63df.ebfb4"
            ]
        ]
    },
    {
        "id": "14b3f31c.f2289d",
        "type": "inject",
        "z": "b5898652.b556e",
        "name": "Run at startup",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 140,
        "y": 440,
        "wires": [
            [
                "a9a1a5d6.e1f4a8"
            ]
        ]
    },
    {
        "id": "8165cef1.12886",
        "type": "function",
        "z": "2c85e1fd.fde9ae",
        "name": "Apply settings",
        "func": "context.global.box_settings = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 596,
        "y": 99,
        "wires": [
            [
                "6c987ced.c3ae94"
            ]
        ]
    },
    {
        "id": "7866ff92.1495d8",
        "type": "debug",
        "z": "b5898652.b556e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "fb9cae82.28853",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "Initial setup page",
        "url": "/setup",
        "method": "get",
        "swaggerDoc": "",
        "x": 94,
        "y": 61,
        "wires": [
            [
                "6f669a6b.b3c81c"
            ]
        ]
    },
    {
        "id": "d27d7e46.05eca",
        "type": "http response",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 852,
        "y": 131,
        "wires": []
    },
    {
        "id": "16dd1e16.1b381a",
        "type": "template",
        "z": "afe19cbf.f80a18",
        "name": "Format HTML page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>Configure this brain</title>\n    </head>\n    <body>\n        <h1>Configure this brain</h1>\n        {{#payload}}\n            <p><strong>\n                {{payload}}\n            </strong></p>\n            <p>If you want to discard this box ID (or create one from scratch) then hit the button below...</p>\n        {{/payload}}\n        {{^payload}}\n        <p>To create a new box then hit the button below...</p>\n        {{/payload}}\n        <p>If you're looking to upgrade an existing box then head over to <a href=\"/upgrade\">/upgrade</a></p>\n        <form method=\"POST\">\n            <label for=\"hardware_id\">Hardware ID (on the underside of the case):</label>\n            <input type=\"text\" name=\"hardware_id\" value=\"{{context.global.box_settings.hardware_id}}\" /><br />\n            <label for=\"exterior\">Exterior (box material, colour):</label>\n            <input type=\"text\" name=\"exterior\" value=\"{{context.global.box_settings.exterior}}\" /><br />\n            <input type=\"submit\" value=\"Create a new box\" />\n        </form>\n    </body>\n</html>",
        "x": 600,
        "y": 60,
        "wires": [
            [
                "cba35524.5963a"
            ]
        ]
    },
    {
        "id": "cb1fd3a7.797f2",
        "type": "subflow:afe19cbf.f80a18",
        "z": "b5898652.b556e",
        "x": 110,
        "y": 680,
        "wires": []
    },
    {
        "id": "cba35524.5963a",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Add response headers",
        "func": "msg.headers = { \"Content-Type\": \"text/html\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 60,
        "wires": [
            [
                "d27d7e46.05eca"
            ]
        ]
    },
    {
        "id": "fc69fabb.40b08",
        "type": "http response",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 1318,
        "y": 322,
        "wires": []
    },
    {
        "id": "82a8817d.9420a",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "Handle setup form submission",
        "url": "/setup",
        "method": "post",
        "swaggerDoc": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "f959d7a1.171458"
            ]
        ]
    },
    {
        "id": "9aac6c5b.b061c",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Redirect to /prints if successful",
        "func": "// We successfully downloaded the config\n// so redirect to the /prints page\nmsg.headers = { \"Location\": \"/prints\" };\nmsg.statusCode = 302;\nmsg.payload = \"Redirect to /prints\";\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 975,
        "y": 277,
        "wires": [
            [
                "409166bb.b2bf68"
            ]
        ]
    },
    {
        "id": "7a5faf27.1b8938",
        "type": "http request",
        "z": "afe19cbf.f80a18",
        "name": "Get the chosen box details",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 380,
        "y": 260,
        "wires": [
            [
                "d3e4fb5.c7e2f08"
            ]
        ]
    },
    {
        "id": "6d76d26f.1e1a44",
        "type": "file",
        "z": "afe19cbf.f80a18",
        "name": "Save the settings",
        "filename": "/home/pi/miab/box-config.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 1034,
        "y": 190,
        "wires": []
    },
    {
        "id": "a9a1a5d6.e1f4a8",
        "type": "subflow:2c85e1fd.fde9ae",
        "z": "b5898652.b556e",
        "x": 316,
        "y": 440.5,
        "wires": [
            [
                "7866ff92.1495d8",
                "50c51caf.62ed44",
                "a362cb60.df26e"
            ]
        ]
    },
    {
        "id": "51567b84.e638b4",
        "type": "delay",
        "z": "afe19cbf.f80a18",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 989,
        "y": 233,
        "wires": [
            [
                "58f4c569.64f99c"
            ]
        ]
    },
    {
        "id": "58f4c569.64f99c",
        "type": "subflow:2c85e1fd.fde9ae",
        "z": "afe19cbf.f80a18",
        "x": 1154,
        "y": 232,
        "wires": [
            []
        ]
    },
    {
        "id": "882059fa.c9f278",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "",
        "url": "/prints",
        "method": "get",
        "swaggerDoc": "",
        "x": 124,
        "y": 501,
        "wires": [
            [
                "7a0c0b65.061d24"
            ]
        ]
    },
    {
        "id": "c9624786.2ff3e",
        "type": "http response",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 891,
        "y": 609,
        "wires": []
    },
    {
        "id": "6ce2c335.50aee4",
        "type": "http request",
        "z": "afe19cbf.f80a18",
        "name": "Download prints list for this box",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 469,
        "y": 500,
        "wires": [
            [
                "45f2b710.48f8e8"
            ]
        ]
    },
    {
        "id": "7a0c0b65.061d24",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Build URL",
        "func": "msg.url = \"https://heart.museuminabox.org/api/boxes/\"+context.global.box_settings.id+\"/sync.json\";\nmsg.method = \"POST\";\nmsg.payload = { \"software_version\": context.global.software_version };\n// Store box details to display later too\nmsg.box_settings = context.global.box_settings;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 500,
        "wires": [
            [
                "6ce2c335.50aee4"
            ]
        ]
    },
    {
        "id": "45f2b710.48f8e8",
        "type": "template",
        "z": "afe19cbf.f80a18",
        "name": "Format HTML page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>Write Print Tags</title>\n        <style type=\"text/css\">\n            body { font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\"; }\n            ul { list-style-type: none; }\n            li { width: 180px; height: 180px; float: left; display: block; margin: 10px; padding: 10px; background: #f6f6f0; }\n            li div { height: 100px; }\n            li p { margin: 5px; height: 15px; text-align: center; }\n            .working { background: #eef; }\n            .ok { background: #dfd; }\n            .failed { background: #fbb; }\n            input { background: #ff0; width: 120px; border: 0; border-radius: 10px; height: 40px; display: block; margin: 10px auto; font-weight: bold; }\n            .failed p { color: red; font-weight: bold; }\n            .header h1 { font-weight: bold; font-size: 14pt; }\n            .header h1 a { font-weight: normal; }\n        </style>\n    </head>\n    <body>\n        <div class=\"header\">\n            <h1>box.local Write Tags | <a href=\"/setup\">Set up</a> | <a href=\"/upgrade\">Upgrade</a> | <a href=\"/\">Debug</a></h1>\n            <h2>{{box_settings.hardware_id}} / {{box_settings.exterior}}</h2>\n        </div>\n        <p>Place a print onto the brain, then click the \"Write tag\" button to write the tag.</p>\n        <ul>\n            <li id=\"liWiFi\">\n                <p id=\"msgWiFi\"></p>\n                <div class=\"print\"><img src=\"\" alt=\"Configure WiFi admin totem\"></div>\n                <form action=\"/tag\" method=\"post\" id=\"tagWiFi\">\n                    <input type=\"hidden\" name=\"url\" value=\"http://www.museuminabox.org\" />\n                    <input type=\"hidden\" name=\"configure\" value=\"wifi\" />\n                    <input type=\"submit\" name=\"write\" value=\"Write\" onclick=\"$('#liWiFi')[0].classList = 'working'; $('#msgWiFi').text('Working...'); $.post('/tag', $('#tagWiFi').serialize()) .done(function() { $('#liWiFi')[0].classList = 'ok'; $('#msgWiFi').text('Ok') }) .fail(function() { $('#liWiFi')[0].classList = 'failed'; $('#msgWiFi').text('TRY AGAIN') }); return false;\" />\n                </form>\n            </li>\n        {{#payload.prints}}\n            <li id=\"li{{id}}\">\n                <p id=\"msg{{id}}\"></p>\n                <div class=\"print\"><img src=\"{{{image_url}}}\" alt=\"{{name}}\"></div>\n                <form action=\"/tag\" method=\"post\" id=\"tag{{id}}\">\n                    <input type=\"hidden\" name=\"url\" value=\"{{url}}\" />\n                    <input type=\"hidden\" name=\"id\" value=\"{{id}}\" />\n                    <input type=\"hidden\" name=\"audio\" value=\"{{brain_filename_audio}}\" />\n                    <input type=\"submit\" name=\"write\" value=\"Write\" onclick=\"$('#li{{id}}')[0].classList = 'working'; $('#msg{{id}}').text('Working...'); $.post('/tag', $('#tag{{id}}').serialize()) .done(function() { $('#li{{id}}')[0].classList = 'ok'; $('#msg{{id}}').text('') }) .fail(function() { $('#li{{id}}')[0].classList = 'failed'; $('#msg{{id}}').text('TRY AGAIN') }); return false;\" />\n                </form>\n            </li>\n        {{/payload.prints}}\n        </ul>\n    </body>\n    <script src=\"vendor/vendor.js\"></script>\n</html>\n",
        "x": 710,
        "y": 500,
        "wires": [
            [
                "94182766.541e68"
            ]
        ]
    },
    {
        "id": "94182766.541e68",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Add response headers",
        "func": "msg.headers = { \"Content-Type\": \"text/html\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 798,
        "y": 557,
        "wires": [
            [
                "c9624786.2ff3e"
            ]
        ]
    },
    {
        "id": "5dc010f1.5ecf08",
        "type": "json",
        "z": "2c85e1fd.fde9ae",
        "name": "",
        "x": 414,
        "y": 99,
        "wires": [
            [
                "8165cef1.12886"
            ]
        ]
    },
    {
        "id": "86b5d39d.f8eb3",
        "type": "inject",
        "z": "afe19cbf.f80a18",
        "name": "Test",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 700,
        "wires": [
            [
                "b75c4abb.8231b8"
            ]
        ]
    },
    {
        "id": "b75c4abb.8231b8",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Generate test NDEF records",
        "func": "msg.payload = [];\nmsg.payload.push({\"type\":\"Sp\", \"value\":\"https://mcqn.com/ibal151/\"});\nmsg.payload.push({\"type\":\"T\", \"value\":\"{\\\"name\\\":\\\"Bust of Violette Szabo\\\",\\\"audio\\\":\\\"violette.wav\\\"}\"});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 323,
        "y": 700,
        "wires": [
            [
                "9e2b57dc.b17448",
                "1aebf3aa.c444f4"
            ]
        ]
    },
    {
        "id": "1aebf3aa.c444f4",
        "type": "rpi-rfid write-ndef",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 573,
        "y": 722,
        "wires": [
            [
                "9e2b57dc.b17448",
                "791150d5.04aae"
            ]
        ]
    },
    {
        "id": "9e2b57dc.b17448",
        "type": "debug",
        "z": "afe19cbf.f80a18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 770,
        "y": 700,
        "wires": []
    },
    {
        "id": "2dcc27fb.0bc0b8",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "",
        "url": "/tag",
        "method": "get",
        "swaggerDoc": "",
        "x": 100,
        "y": 800,
        "wires": [
            [
                "791150d5.04aae"
            ]
        ]
    },
    {
        "id": "791150d5.04aae",
        "type": "file in",
        "z": "afe19cbf.f80a18",
        "name": "",
        "filename": "/home/pi/miab/tag.html",
        "format": "utf8",
        "x": 630,
        "y": 800,
        "wires": [
            [
                "507e8db4.8a3d1c"
            ]
        ]
    },
    {
        "id": "507e8db4.8a3d1c",
        "type": "http response",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 850,
        "y": 800,
        "wires": []
    },
    {
        "id": "7fa143e2.188d1c",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "",
        "url": "/tag",
        "method": "post",
        "swaggerDoc": "",
        "x": 97,
        "y": 749,
        "wires": [
            [
                "849337da.209338"
            ]
        ]
    },
    {
        "id": "849337da.209338",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Convert form fields into NDEF records",
        "func": "var url = { \"type\":\"Sp\", \"value\": msg.payload.url };\nmsg.payload.url = undefined;\nmsg.payload.write = undefined;\nvar text = { \"type\":\"T\", \"value\": JSON.stringify(msg.payload) };\nmsg.payload = [url, text];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 324,
        "y": 749,
        "wires": [
            [
                "1aebf3aa.c444f4"
            ]
        ]
    },
    {
        "id": "fd7a86ac.3abd9",
        "type": "comment",
        "z": "afe19cbf.f80a18",
        "name": "Write RFID tags",
        "info": "",
        "x": 117,
        "y": 652,
        "wires": []
    },
    {
        "id": "6c987ced.c3ae94",
        "type": "function",
        "z": "2c85e1fd.fde9ae",
        "name": "Build URL",
        "func": "// Return an entirely new message in case the existing\n// one has any remnants of prior web requests\nreturn { \n    url: \"https://heart.museuminabox.org/api/boxes/\"+context.global.box_settings.id+\"/sync.json\",\n    method: \"POST\",\n    payload: { \"software_version\": context.global.software_version }\n};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 190,
        "wires": [
            [
                "6d4612aa.78327c",
                "a80cc45d.46bae"
            ]
        ]
    },
    {
        "id": "6d4612aa.78327c",
        "type": "http request",
        "z": "2c85e1fd.fde9ae",
        "name": "Download prints list for this box",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 663,
        "y": 189,
        "wires": [
            [
                "e27f63df.ebfb4",
                "27712e00.0d3722"
            ]
        ]
    },
    {
        "id": "27712e00.0d3722",
        "type": "function",
        "z": "2c85e1fd.fde9ae",
        "name": "Extract the audio content URLs",
        "func": "var urls = [];\nfor (i=0; i < msg.payload.prints.length; i++)\n{\n    urls.push({ topic:\"url\", payload:msg.payload.prints[i].brain_url_audio });\n}\nreturn [urls];",
        "outputs": 1,
        "noerr": 0,
        "x": 465,
        "y": 312,
        "wires": [
            [
                "761e4520.6ac67c",
                "e27f63df.ebfb4"
            ]
        ]
    },
    {
        "id": "761e4520.6ac67c",
        "type": "exec",
        "z": "2c85e1fd.fde9ae",
        "command": "umask 013 && wget",
        "addpay": true,
        "append": "--timestamping --no-verbose --directory-prefix=/home/pi/miab/audio",
        "useSpawn": "",
        "timer": "",
        "name": "Download media files",
        "x": 712,
        "y": 311,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "eaab59eb.e8618",
        "type": "rpi-gpio in",
        "z": "b5898652.b556e",
        "name": "RFID present?",
        "pin": "7",
        "intype": "in",
        "debounce": "",
        "read": true,
        "x": 84.5,
        "y": 70,
        "wires": [
            [
                "b170be0.3c60e4"
            ]
        ]
    },
    {
        "id": "50e784a7.b2a4b4",
        "type": "exec",
        "z": "b5898652.b556e",
        "command": "play",
        "addpay": false,
        "append": "/home/pi/miab/ready.wav",
        "useSpawn": "",
        "name": "We're ready now!",
        "x": 710,
        "y": 600,
        "wires": [
            [
                "7866ff92.1495d8"
            ],
            [
                "7866ff92.1495d8"
            ],
            [
                "7866ff92.1495d8"
            ]
        ]
    },
    {
        "id": "4de42538.df29cc",
        "type": "exec",
        "z": "b5898652.b556e",
        "command": "/home/pi/miab/get_first_ndef_text_record",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Read first text NDEF record",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "f536fa11.eebb68",
                "dcf63ff6.45e4c8"
            ],
            [],
            []
        ]
    },
    {
        "id": "50c51caf.62ed44",
        "type": "template",
        "z": "b5898652.b556e",
        "name": "Output an \"on\" signal",
        "field": "payload",
        "format": "handlebars",
        "template": "1",
        "x": 520,
        "y": 480,
        "wires": [
            [
                "9f3230dc.005a2"
            ]
        ]
    },
    {
        "id": "9f3230dc.005a2",
        "type": "rpi-gpio out",
        "z": "b5898652.b556e",
        "name": "Green \"ready\" LED",
        "pin": "11",
        "set": true,
        "level": "0",
        "out": "out",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "409166bb.b2bf68",
        "type": "delay",
        "z": "afe19cbf.f80a18",
        "name": "but give the settings some time to be loaded",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1073,
        "y": 322,
        "wires": [
            [
                "fc69fabb.40b08"
            ]
        ]
    },
    {
        "id": "e27f63df.ebfb4",
        "type": "debug",
        "z": "2c85e1fd.fde9ae",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 670,
        "y": 380,
        "wires": []
    },
    {
        "id": "a80cc45d.46bae",
        "type": "change",
        "z": "2c85e1fd.fde9ae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "url",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 370,
        "wires": [
            [
                "e27f63df.ebfb4"
            ]
        ]
    },
    {
        "id": "f6d5f2f9.3bbaf",
        "type": "switch",
        "z": "b5898652.b556e",
        "name": "Check for WiFi config tag",
        "property": "payload.configure",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "wifi",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 570,
        "y": 180,
        "wires": [
            [
                "ea94ab59.a511d8",
                "f012350f.abefb8"
            ],
            [
                "f536fa11.eebb68",
                "b3b74b81.42e778",
                "192c08af.101cb7"
            ]
        ]
    },
    {
        "id": "ea94ab59.a511d8",
        "type": "exec",
        "z": "b5898652.b556e",
        "command": "play",
        "addpay": false,
        "append": "/home/pi/miab/configure-wifi.wav",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Tell the user to check for wifi",
        "x": 900,
        "y": 40,
        "wires": [
            [
                "f536fa11.eebb68"
            ],
            [],
            []
        ]
    },
    {
        "id": "f012350f.abefb8",
        "type": "exec",
        "z": "b5898652.b556e",
        "command": "/home/pi/miab/configure-wifi",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Start the WiFi configuring script",
        "x": 910,
        "y": 120,
        "wires": [
            [
                "f536fa11.eebb68"
            ],
            [
                "f536fa11.eebb68"
            ],
            [
                "f536fa11.eebb68"
            ]
        ]
    },
    {
        "id": "f959d7a1.171458",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Build URL",
        "func": "// Generate a UUID\n// Derived from https://gist.github.com/jed/982883\n//var uuidv4 = ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c => (c^crypto.randomBytes(1)[0]&15>>c/4).toString(16));\nvar uuidv4 = ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c => (c^Math.random() * 16>>c/4).toString(16));\n\nmsg.url = \"https://heart.museuminabox.org/api/boxes.json\";\nmsg.method = \"POST\";\nmsg.payload = \"id=\"+uuidv4+\"&hardware_id=\"+msg.payload.hardware_id+\"&exterior=\"+msg.payload.exterior;\nmsg.headers = [];\nmsg.headers[\"content-type\"] = \"application/x-www-form-urlencoded\";\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "7a5faf27.1b8938",
                "ec30111e.2defa8"
            ]
        ]
    },
    {
        "id": "d172acd7.e12a9",
        "type": "http response",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "d3e4fb5.c7e2f08",
        "type": "switch",
        "z": "afe19cbf.f80a18",
        "name": "Check for successful response",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "200",
                "vt": "num",
                "v2": "299",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 650,
        "y": 260,
        "wires": [
            [
                "9aac6c5b.b061c",
                "51567b84.e638b4",
                "6d76d26f.1e1a44"
            ],
            [
                "d172acd7.e12a9"
            ]
        ]
    },
    {
        "id": "56e9e07d.b8e298",
        "type": "debug",
        "z": "c4a92f1b.12287",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "16eb7750.bd4371",
        "type": "http request",
        "z": "c4a92f1b.12287",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://heart.museuminabox.org/api/boopend",
        "tls": "",
        "x": 497,
        "y": 40,
        "wires": [
            [
                "56e9e07d.b8e298"
            ]
        ]
    },
    {
        "id": "8267637c.60b6d",
        "type": "function",
        "z": "c4a92f1b.12287",
        "name": "Build JSON for request",
        "func": "// See if there's a boop to finish\nif (context.global.current_boop_id) {\n    msg.payload = { \"created_at\": new Date().toJSON(), \"box_id\": context.global.box_settings.id, \"boop_id\": context.global.current_boop_id };\n    headers = { \"Content-Type\": \"application/json\" };\n    return msg;\n} else {\n    // There isn't one, it's most likely to be \n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 40,
        "wires": [
            [
                "16eb7750.bd4371",
                "56e9e07d.b8e298",
                "5fc3acce.0dc5f4"
            ]
        ]
    },
    {
        "id": "c0859e1a.68e45",
        "type": "csv",
        "z": "c4a92f1b.12287",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": false,
        "multi": "one",
        "ret": "\\n",
        "temp": "created_at,box_id,print_id",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "1747ab.9e412055"
            ]
        ]
    },
    {
        "id": "1747ab.9e412055",
        "type": "file",
        "z": "c4a92f1b.12287",
        "name": "",
        "filename": "/home/pi/miab/boops_log.csv",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "4672f700.22b518",
        "type": "function",
        "z": "e8d65b2b.201058",
        "name": "Note that it is a start",
        "func": "// Note that this is a start rather than an end\nmsg.payload.start_or_end = \"start\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "63ecce13.be265"
            ]
        ]
    },
    {
        "id": "5fc3acce.0dc5f4",
        "type": "function",
        "z": "c4a92f1b.12287",
        "name": "Note that it is an end",
        "func": "// Note that this is a start rather than an end\nmsg.payload.start_or_end = \"end\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "c0859e1a.68e45"
            ]
        ]
    },
    {
        "id": "cd38ed8b.96293",
        "type": "subflow:c4a92f1b.12287",
        "z": "b5898652.b556e",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "a362cb60.df26e",
        "type": "delay",
        "z": "b5898652.b556e",
        "name": "Allow time for the \"object not present, kill all audio\" check for RFID at startup to run",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "50e784a7.b2a4b4"
            ]
        ]
    },
    {
        "id": "ec30111e.2defa8",
        "type": "debug",
        "z": "afe19cbf.f80a18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "e40cb3f0.0a948",
        "type": "function",
        "z": "e8d65b2b.201058",
        "name": "Store the returned boop_id for when the boop ends",
        "func": "context.global.current_boop_id = msg.payload.boop_id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "db927f2e.1204d8",
        "type": "file in",
        "z": "2c85e1fd.fde9ae",
        "name": "Read in software version",
        "filename": "/home/pi/miab/version.txt",
        "format": "utf8",
        "sendError": true,
        "x": 230,
        "y": 40,
        "wires": [
            [
                "1f296186.205446"
            ]
        ]
    },
    {
        "id": "1f296186.205446",
        "type": "function",
        "z": "2c85e1fd.fde9ae",
        "name": "Store software version",
        "func": "context.global.software_version = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 40,
        "wires": [
            [
                "72069fd0.ea825"
            ]
        ]
    },
    {
        "id": "24abfae1.0d7fde",
        "type": "template",
        "z": "afe19cbf.f80a18",
        "name": "Format HTML page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n<head>\n  <script type=\"text/javascript\">\n    window.addEventListener('message', function(event) {\n        console.log(event);\n        document.getElementById('box_id').value = event.data;\n    });\n  </script>\n</head>\n<body>\n    <h1>Upgrade</h1>\n    {{#payload}}\n        <p><strong>\n            {{payload}}\n        </strong></p>\n    {{/payload}}\n    <p>Set this box to be an existing box.  Useful when upgrading an old box.  If you want to\n    create a new box then head to <a href=\"/setup\">/setup</a>.</p>\n    <h2>Choose the box to upgrade from the list below:</h2>\n    <iframe width=\"100%\" height=\"300\" src=\"http://heart.museuminabox.org/heart/setup/boxes/\"></iframe>\n    <form action=\"/upgrade\" method=\"POST\">\n        <label for=\"box_id\">Box ID:</label>\n        <input id=\"box_id\" type=\"text\" size=\"40\" name=\"box_id\" />\n        <input id=\"save\" type=\"submit\" name=\"Save\" value=\"Save\" />\n    </form>\n</body>\n</html>\n",
        "x": 680,
        "y": 440,
        "wires": [
            [
                "152973fa.46ac24"
            ]
        ]
    },
    {
        "id": "abde7dd1.790a98",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "Upgrade box page",
        "url": "/upgrade",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "70439c7c.d77bcc"
            ]
        ]
    },
    {
        "id": "152973fa.46ac24",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Add response headers",
        "func": "msg.headers = { \"Content-Security-Policy\": \"script-src 'self' 'unsafe-inline' 'unsafe-eval'\", \"Content-Type\": \"text/html\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 440,
        "wires": [
            [
                "9260c168.5f3808"
            ]
        ]
    },
    {
        "id": "9260c168.5f3808",
        "type": "http response",
        "z": "afe19cbf.f80a18",
        "name": "",
        "x": 1130,
        "y": 440,
        "wires": []
    },
    {
        "id": "959d40d6.3a1c9",
        "type": "http in",
        "z": "afe19cbf.f80a18",
        "name": "Handle upgrade form submission",
        "url": "/upgrade",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "79c7285f.9de09"
            ]
        ]
    },
    {
        "id": "79c7285f.9de09",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Build URL",
        "func": "msg.url = \"https://heart.museuminabox.org/api/boxes/\"+msg.payload.box_id+\".json\";\nmsg.method = \"GET\";\nmsg.payload = \"\";\nmsg.headers = [];\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "7a5faf27.1b8938",
                "ec30111e.2defa8"
            ]
        ]
    },
    {
        "id": "70439c7c.d77bcc",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Add warning if box ID already set",
        "func": "if (context.global.box_settings) {\n    msg.payload = \"WARNING: This box has already been configured. Its ID is \"+\n    context.global.box_settings.id+\", with hardware ID of \"+\n    context.global.box_settings.hardware_id+\". Are you sure you want to change that?\";\n} else {\n    msg.payload = \"\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 440,
        "wires": [
            [
                "24abfae1.0d7fde"
            ]
        ]
    },
    {
        "id": "6f669a6b.b3c81c",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Add warning if box ID already set",
        "func": "if (context.global.box_settings) {\n    msg.payload = \"WARNING: This box has already been configured. Its ID is \"+\n    context.global.box_settings.id+\", with hardware ID of \"+\n    context.global.box_settings.hardware_id+\". Are you sure you want to change that?\";\n} else {\n    msg.payload = \"\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "16dd1e16.1b381a"
            ]
        ]
    },
    {
        "id": "e50d2201.782e6",
        "type": "catch",
        "z": "afe19cbf.f80a18",
        "name": "Catch any errors writing tags",
        "scope": [
            "1aebf3aa.c444f4"
        ],
        "x": 360,
        "y": 860,
        "wires": [
            [
                "9e2b57dc.b17448",
                "97afb1d0.66cfe8"
            ]
        ]
    },
    {
        "id": "97afb1d0.66cfe8",
        "type": "function",
        "z": "afe19cbf.f80a18",
        "name": "Report errors",
        "func": "msg.statusCode = 400;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 860,
        "wires": [
            [
                "507e8db4.8a3d1c"
            ]
        ]
    }
]